* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  @media (min-width: 768px) {
    &.fixed-header {
      padding-top: @header-height;
    }
  }
}
.page-wrap {
  min-height: 100%;
}
.page-wrap-after {
  content: '';
  display: block;
}
.body-print {
  background-color: white;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

/* Links */

.hidden-link {
  cursor: pointer;
}

a, .hidden-link {
  text-decoration: none !important;
  color: @link-color;
  &:hover, &:focus, &:active {
    color: @link-hover-color;
  }
}

.link-grey {
  color: @link-grey-color;
  &:hover {
    color: @link-hover-color;
  }
}

.link-grey-box {
  color: white !important;
  background-color: @grey-md;
  &:hover {
    background-color: @grey-muted;
  }
}

.link-grey-box-focus {
  background-color: @grey-muted;
}

.link-grey-box-active {
  background-color: @primary-color !important;
}

.link-dark {
  color: @text-color;
  &:hover {
    color: @link-hover-color;
  }
}

.link-red {
  color: @red;
  &:hover {
    color: @red;
  }
  &.link-ajax {
    > span {
      border-color: @red;
    }
  }
}

.link-ajax {
  > span {
    border-bottom: 1px dotted @link-color;
  }
  &:hover, &:focus {
    > span {
      border-color: transparent;
    }
  }
}
.link-ajax-nospan {
  text-decoration: none !important;
  border-bottom: 1px dotted @link-color;
  &:hover, &:focus {
    border-color: transparent;
  }
}

/* Typography */
h1 {
  font-size: @font-size-h1;
}

h2 {
  font-size: @font-size-h2;
}

h3 {
  font-size: @font-size-h3;
}

h4 {
  font-size: @font-size-h4;
}

h5 {
  font-size: @font-size-h5;
}

h6 {
  font-size: @font-size-h6;
}

/* Forms and Buttons */
input, textarea, button {
  outline: none !important;
}

.form-btn-right {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.form-group {
  margin-bottom: @default-spacing;
}

.form-group-noinput {
  padding-top: @default-spacing / 2;
}

.form-group-sm {
  margin-bottom: @default-spacing / 1.5;
}

.form-group-item {
  + .form-group-item {
    margin-top: 10px;
  }
}

.form-lang {
  .country-icon {
    position: relative;
    left: auto;
    top: auto;
    margin-top:0;
  }
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
  @media (min-width: 768px) {
    position: absolute;
    z-index: 99;
    top:0;
    right:0;
    > a {
      border-radius: 2px;
      border: 1px solid transparent;
      width:30px;
      height:24px;
      background-color: #fff;
      &.active {
        border-color: @border-color;
      }
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
    display: flex;
    border: 1px solid @border-color;
    border-radius: 2px;
    overflow: hidden;
    > a {
      flex: 1;
      height: 32px;
      + a {
        border-left: 1px solid @border-color;;
      }
      &.active {
        background-color: @grey-light;
      }
    }
  }
}

label {
  font-weight: normal;
}

.form-control {
  border-color: @border-color;
  &:hover, &:focus {
    border-color: @border-color-md;
  }
  &:focus {
    .drop-shadow(0, 0, 15px, 0.15);
  }
}

.required-mark {
  color: @red;
}

.input-error {
  border-color: @red !important;
}

.input-phone {
  position: relative;
  > .form-control {
    padding-left: 30px;
  }
}

.input-inline {
  display: inline-block;
  width: auto;
}

.input-group-addon {
  min-width: 40px;
  text-align: center;
  background-color: white;
}

// Countries
.country-icon-element {
  position: relative;
  padding-left: 22px;
  .country-icon {
    padding-left:0 !important;
    left:0;
  }
}
.country-icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 11px;
  left: 9px;
  top: 50%;
  margin-top: -5px;
  background-color: #ccc;
  background-image: url(../img/flags.png);
}
.country-icon-ad { background-position: -16px 0 }
.country-icon-ae { background-position: -32px 0 }
.country-icon-af { background-position: -48px 0 }
.country-icon-ag { background-position: -64px 0 }
.country-icon-ai { background-position: -80px 0 }
.country-icon-al { background-position: -96px 0 }
.country-icon-am { background-position: -112px 0 }
.country-icon-an { background-position: -128px 0 }
.country-icon-ao { background-position: -144px 0 }
.country-icon-ar { background-position: -160px 0 }
.country-icon-as { background-position: -176px 0 }
.country-icon-at { background-position: -192px 0 }
.country-icon-au { background-position: -208px 0 }
.country-icon-aw { background-position: -224px 0 }
.country-icon-az { background-position: -240px 0 }
.country-icon-ba { background-position: 0 -11px }
.country-icon-bb { background-position: -16px -11px }
.country-icon-bd { background-position: -32px -11px }
.country-icon-be { background-position: -48px -11px }
.country-icon-bf { background-position: -64px -11px }
.country-icon-bg { background-position: -80px -11px }
.country-icon-bh { background-position: -96px -11px }
.country-icon-bi { background-position: -112px -11px }
.country-icon-bj { background-position: -128px -11px }
.country-icon-bm { background-position: -144px -11px }
.country-icon-bn { background-position: -160px -11px }
.country-icon-bo { background-position: -176px -11px }
.country-icon-br { background-position: -192px -11px }
.country-icon-bs { background-position: -208px -11px }
.country-icon-bt { background-position: -224px -11px }
.country-icon-bv { background-position: -240px -11px }
.country-icon-bw { background-position: 0 -22px }
.country-icon-by { background-position: -16px -22px }
.country-icon-bz { background-position: -32px -22px }
.country-icon-ca { background-position: -48px -22px }
.country-icon-cd { background-position: -80px -22px }
.country-icon-cf { background-position: -96px -22px }
.country-icon-cg { background-position: -112px -22px }
.country-icon-ch { background-position: -128px -22px }
.country-icon-ci { background-position: -144px -22px }
.country-icon-ck { background-position: -160px -22px }
.country-icon-cl { background-position: -176px -22px }
.country-icon-cm { background-position: -192px -22px }
.country-icon-cn { background-position: -208px -22px }
.country-icon-co { background-position: -224px -22px }
.country-icon-cr { background-position: -240px -22px }
.country-icon-cu { background-position: 0 -33px }
.country-icon-cv { background-position: -16px -33px }
.country-icon-cw { background-position: -32px -33px }
.country-icon-cy { background-position: -48px -33px }
.country-icon-cz { background-position: -64px -33px }
.country-icon-de { background-position: -80px -33px }
.country-icon-dj { background-position: -96px -33px }
.country-icon-dk { background-position: -112px -33px }
.country-icon-dm { background-position: -128px -33px }
.country-icon-do { background-position: -144px -33px }
.country-icon-dz { background-position: -160px -33px }
.country-icon-ec { background-position: -176px -33px }
.country-icon-ee { background-position: -192px -33px }
.country-icon-eg { background-position: -208px -33px }
.country-icon-eh { background-position: -224px -33px }
.country-icon-en { background-position: -240px -33px }
.country-icon-er { background-position: 0 -44px }
.country-icon-es { background-position: -16px -44px }
.country-icon-et { background-position: -32px -44px }
.country-icon-eu { background-position: -48px -44px }
.country-icon-fi { background-position: -64px -44px }
.country-icon-fj { background-position: -80px -44px }
.country-icon-fk { background-position: -96px -44px }
.country-icon-fm { background-position: -112px -44px }
.country-icon-fo { background-position: -128px -44px }
.country-icon-fr { background-position: -144px -44px }
.country-icon-ga { background-position: -160px -44px }
.country-icon-gb { background-position: -176px -44px }
.country-icon-gd { background-position: -192px -44px }
.country-icon-ge { background-position: -208px -44px }
.country-icon-gf { background-position: -224px -44px }
.country-icon-gg { background-position: -240px -44px }
.country-icon-gh { background-position: 0 -55px }
.country-icon-gi { background-position: -16px -55px }
.country-icon-gl { background-position: -32px -55px }
.country-icon-gm { background-position: -48px -55px }
.country-icon-gn { background-position: -64px -55px }
.country-icon-gp { background-position: -80px -55px }
.country-icon-gq { background-position: -96px -55px }
.country-icon-gr { background-position: -112px -55px }
.country-icon-gs { background-position: -128px -55px }
.country-icon-gt { background-position: -144px -55px }
.country-icon-gu { background-position: -160px -55px }
.country-icon-gw { background-position: -176px -55px }
.country-icon-gy { background-position: -192px -55px }
.country-icon-hk { background-position: -208px -55px }
.country-icon-hm { background-position: -224px -55px }
.country-icon-hn { background-position: -240px -55px }
.country-icon-hr { background-position: 0 -66px }
.country-icon-ht { background-position: -16px -66px }
.country-icon-hu { background-position: -32px -66px }
.country-icon-ic { background-position: -48px -66px }
.country-icon-id { background-position: -64px -66px }
.country-icon-ie { background-position: -80px -66px }
.country-icon-il { background-position: -96px -66px }
.country-icon-im { background-position: -112px -66px }
.country-icon-in { background-position: -128px -66px }
.country-icon-io { background-position: -144px -66px }
.country-icon-iq { background-position: -160px -66px }
.country-icon-ir { background-position: -176px -66px }
.country-icon-is { background-position: -192px -66px }
.country-icon-it { background-position: -208px -66px }
.country-icon-je { background-position: -224px -66px }
.country-icon-jm { background-position: -240px -66px }
.country-icon-jo { background-position: 0 -77px }
.country-icon-jp { background-position: -16px -77px }
.country-icon-ke { background-position: -32px -77px }
.country-icon-kg { background-position: -48px -77px }
.country-icon-kh { background-position: -64px -77px }
.country-icon-ki { background-position: -80px -77px }
.country-icon-km { background-position: -96px -77px }
.country-icon-kn { background-position: -112px -77px }
.country-icon-kp { background-position: -128px -77px }
.country-icon-kr { background-position: -144px -77px }
.country-icon-kw { background-position: -176px -77px }
.country-icon-ky { background-position: -192px -77px }
.country-icon-kz { background-position: -208px -77px }
.country-icon-la { background-position: -224px -77px }
.country-icon-lb { background-position: -240px -77px }
.country-icon-lc { background-position: 0 -88px }
.country-icon-li { background-position: -16px -88px }
.country-icon-lk { background-position: -32px -88px }
.country-icon-lr { background-position: -48px -88px }
.country-icon-ls { background-position: -64px -88px }
.country-icon-lt { background-position: -80px -88px }
.country-icon-lu { background-position: -96px -88px }
.country-icon-lv { background-position: -112px -88px }
.country-icon-ly { background-position: -128px -88px }
.country-icon-ma { background-position: -144px -88px }
.country-icon-mc { background-position: -160px -88px }
.country-icon-md { background-position: -176px -88px }
.country-icon-me { background-position: -192px -88px }
.country-icon-mg { background-position: -208px -88px }
.country-icon-mh { background-position: -224px -88px }
.country-icon-mk { background-position: -240px -88px }
.country-icon-ml { background-position: 0 -99px }
.country-icon-mm { background-position: -16px -99px }
.country-icon-mn { background-position: -32px -99px }
.country-icon-mo { background-position: -48px -99px }
.country-icon-mp { background-position: -64px -99px }
.country-icon-mq { background-position: -80px -99px }
.country-icon-mr { background-position: -96px -99px }
.country-icon-ms { background-position: -112px -99px }
.country-icon-mt { background-position: -128px -99px }
.country-icon-mu { background-position: -144px -99px }
.country-icon-mv { background-position: -160px -99px }
.country-icon-mw { background-position: -176px -99px }
.country-icon-mx { background-position: -192px -99px }
.country-icon-my { background-position: -208px -99px }
.country-icon-mz { background-position: -224px -99px }
.country-icon-na { background-position: -240px -99px }
.country-icon-nc { background-position: 0 -110px }
.country-icon-ne { background-position: -16px -110px }
.country-icon-nf { background-position: -32px -110px }
.country-icon-ng { background-position: -48px -110px }
.country-icon-ni { background-position: -64px -110px }
.country-icon-nl { background-position: -80px -110px }
.country-icon-no { background-position: -96px -110px }
.country-icon-np { background-position: -112px -110px }
.country-icon-nr { background-position: -128px -110px }
.country-icon-nu { background-position: -144px -110px }
.country-icon-nz { background-position: -160px -110px }
.country-icon-om { background-position: -176px -110px }
.country-icon-pa { background-position: -192px -110px }
.country-icon-pe { background-position: -208px -110px }
.country-icon-pf { background-position: -224px -110px }
.country-icon-pg { background-position: -240px -110px }
.country-icon-ph { background-position: 0 -121px }
.country-icon-pk { background-position: -16px -121px }
.country-icon-pl { background-position: -32px -121px }
.country-icon-pm { background-position: -48px -121px }
.country-icon-pn { background-position: -64px -121px }
.country-icon-pr { background-position: -80px -121px }
.country-icon-ps { background-position: -96px -121px }
.country-icon-pt { background-position: -112px -121px }
.country-icon-pw { background-position: -128px -121px }
.country-icon-py { background-position: -144px -121px }
.country-icon-qa { background-position: -160px -121px }
.country-icon-re { background-position: -176px -121px }
.country-icon-ro { background-position: -192px -121px }
.country-icon-rs { background-position: -208px -121px }
.country-icon-ru { background-position: -224px -121px }
.country-icon-rw { background-position: -240px -121px }
.country-icon-sa { background-position: 0 -132px }
.country-icon-sb { background-position: -16px -132px }
.country-icon-sc { background-position: -32px -132px }
.country-icon-sd { background-position: -64px -132px }
.country-icon-se { background-position: -80px -132px }
.country-icon-sg { background-position: -96px -132px }
.country-icon-sh { background-position: -112px -132px }
.country-icon-si { background-position: -128px -132px }
.country-icon-sk { background-position: -144px -132px }
.country-icon-sl { background-position: -160px -132px }
.country-icon-sm { background-position: -176px -132px }
.country-icon-sn { background-position: -192px -132px }
.country-icon-so { background-position: -208px -132px }
.country-icon-sr { background-position: -240px -132px }
.country-icon-ss { background-position: 0 -143px }
.country-icon-st { background-position: -16px -143px }
.country-icon-sv { background-position: -32px -143px }
.country-icon-sx { background-position: -48px -143px }
.country-icon-sy { background-position: -64px -143px }
.country-icon-sz { background-position: -80px -143px }
.country-icon-tc { background-position: -96px -143px }
.country-icon-td { background-position: -112px -143px }
.country-icon-tf { background-position: -128px -143px }
.country-icon-tg { background-position: -144px -143px }
.country-icon-th { background-position: -160px -143px }
.country-icon-tj { background-position: -176px -143px }
.country-icon-tk { background-position: -192px -143px }
.country-icon-tl { background-position: -208px -143px }
.country-icon-tm { background-position: -224px -143px }
.country-icon-tn { background-position: -240px -143px }
.country-icon-to { background-position: 0 -154px }
.country-icon-tr { background-position: -16px -154px }
.country-icon-tt { background-position: -32px -154px }
.country-icon-tv { background-position: -48px -154px }
.country-icon-tw { background-position: -64px -154px }
.country-icon-tz { background-position: -80px -154px }
.country-icon-ua { background-position: -96px -154px }
.country-icon-ug { background-position: -112px -154px }
.country-icon-um { background-position: -128px -154px }
.country-icon-us { background-position: -144px -154px }
.country-icon-uy { background-position: -160px -154px }
.country-icon-uz { background-position: -176px -154px }
.country-icon-va { background-position: -192px -154px }
.country-icon-vc { background-position: -208px -154px }
.country-icon-ve { background-position: -224px -154px }
.country-icon-vg { background-position: -240px -154px }
.country-icon-vi { background-position: 0 -165px }
.country-icon-vn { background-position: -16px -165px }
.country-icon-vu { background-position: -32px -165px }
.country-icon-wf { background-position: -64px -165px }
.country-icon-ws { background-position: -80px -165px }
.country-icon-ye { background-position: -96px -165px }
.country-icon-yt { background-position: -112px -165px }
.country-icon-za { background-position: -128px -165px }
.country-icon-zm { background-position: -160px -165px }
.country-icon-zw { background-position: -176px -165px }

.country-dropdown {
  width: 100%;
}

.country-dropdown-list {
  .clear-ul();
  > li {
    > a {
      display: block;
      padding: 7px 10px 7px 30px;
      position: relative;
      text-decoration: none !important;
      &:hover {
        background-color: @link-hover-bg;
      }
    }
    + li {
      border-top: 1px dotted @border-color;
    }
  }
}

.btn {
  display: inline-block;
  padding: 6px 8px;
  border-color: 1px solid transparent;
  min-width: 34px;
  text-align: center;
  .rounded(@border-radius-sm);
}

.btn-lg {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-iconic {
  .link-grey-box();
}

.btn-ico {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}

.btn-sm-ico {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.btn-xs {
  padding: 3px 5px;
  min-width: 28px;
}

.btn-default {
  border-color: @border-color;
  color: @text-color;
  background: white !important;
  &:hover, &:focus, &.focus, &:active, &:active:hover, &:active:focus {
    border-color: @border-color-md;
  }
  &.active, &.active:hover, &.active:focus {
    color: @link-active-bg-text;
    background: @link-active-bg !important;
    border-color: @link-active-bg;
  }
  .open & {
    border-color: @border-color-md !important;
  }
}

.btn-primary {
  color: white;
  background-color: @primary-color;
  border-color: @primary-color;
  &:focus, &.focus, &:hover, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus {
    background-color: @primary-md-color;
    border-color: @primary-md-color;
  }
  &.btn-outline {
    color: @primary-color;
    background-color: white;
    &:focus, &.focus, &:hover, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus {
      background-color: @primary-md-color;
      border-color: @primary-md-color;
      color: white;
    }
  }
}

.btn-success {
  color: white;
  background-color: @green;
  border-color: @green;
  &:focus, &.focus, &:hover, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus {
    background-color: darken(@green, 5%);
    border-color: darken(@green, 5%);
  }
  &.btn-outline {
    color: @green;
    background-color: white;
    &:focus, &.focus, &:hover, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus {
      background-color: @green;
      border-color: @green;
      color: white;
    }
  }
}

.btn-promo {
  color: white !important;
  background-color: @green;
  border-color: @green;
  &:focus, &.focus, &:hover, &:active, &.active, &:active:hover, &.active:hover, &:active:focus, &.active:focus {
    background-color: darken(@green, 5%);
    border-color: darken(@green, 5%);
  }
}

.btn-delete {
  border-color: @border-color;
  color: @red;
  background-color: white;
  &:focus, &:hover {
    background-color: white;
    border-color: @red;
    color: @red;
  }
  &.active {
    color: white !important;
    background-color: @red !important;
    border-color: @red !important;
  }
}

.btn-social {
  padding-left: 25px;
  color: white;
  margin: 5px;
  &:hover, &:focus, &:active, &.active {
    color: white;
  }
  &.not-active {
    .opacity(0.5);
  }
}

.btn-social-notext {
  width: 30px;
  height: 30px;
  color: white;
  margin: 2px 0;
  background-position: center center !important;
}

.btn-vk {
  background: #4474a3;
  border: 0;
  background-image: url(../img/icons/social/c-vk.png) !important;
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#4474a3, 90%);
  }
}

.btn-fb {
  background: #3b5998;
  border: 0;
  background-image: url(../img/icons/social/c-fb.png) !important;
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#3b5998, 90%);
  }
}

.btn-od {
  background: #ff6e00;
  border: 0;
  background-image: url(../img/icons/social/c-od.png) !important;
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#ff6e00, 90%);
  }
}

.btn-im {
  background-color: #dc579d;
  background-image: url(../img/icons/social/c-im.png) !important;
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#dc579d, 90%);
  }
}

.btn-gg {
  background-color: #d93025;
  background-image: url(../img/icons/social/c-gg.png) !important;
  background-repeat: no-repeat;
  background-position: 5px center;
  &:hover, &:focus, &:active, &.active {
    background-color: fade(#d93025, 90%);
  }
}

/* Dropdowns */
.dropdown-menu {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .rounded(@border-radius);
  .drop-shadow(0, 10px, 30px, 0.15);
  &.shown {
    display: block;
  }
  > li {
    > a {
      color: @link-dark-color;
      padding: 5px 12px;
      > i {
        width: 18px;
        text-align: center;
      }
      &:hover, &:active, &:focus {
        color: @link-dark-color;
        background: @link-hover-bg;
      }
    }
    + li {
      border-top: 1px dotted rgba(0, 0, 0, 0.1);
    }
    &.active > a {
      background: @link-active-bg !important;
      color: @link-active-bg-text !important;
    }
  }
  .divider {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.dropdown-menu-dark {
  background: @grey-dark-more;
  border: 0;
  > li {
    > a {
      color: @grey-light;
      &:hover, &:active, &:focus {
        color: @grey-light;
        background: @grey-dark;
      }
    }
  }
}

.dropdown-menu-in {
  padding: 15px;
  + .dropdown-menu-in {
    border-top: 1px dotted @border-color;
  }
}

.dropdown-menu-footer {
  padding: 15px;
  border-top: 1px dotted @border-color;
}

.dropdown-menu-list {
  .clear-ul();
  max-height:300px;
  overflow: auto;
  > li {
    white-space: nowrap;
    > a, .hidden-link {
      display: block;
      padding: 7px 15px;
      text-decoration: none;
      &:hover {
        background-color: @link-hover-bg;
      }
    }
    + li {
      border-top: 1px dotted @border-color;
    }
  }
  @media (max-width: 767px) {
    > li {
      > a .hidden-link {
        padding: 12px 15px;
      }
    }
  }
}

.dropdown-menu-list-footLink {
  border-top: 1px dotted @border-color;
  padding: 7px 15px;
  display: block;
  text-decoration: none !important;
  &:hover {
    background-color: @link-hover-bg;
  }
}

.dropdown-menu-heading {
  padding: 15px;
  border-bottom: 1px solid @border-color;
  position: relative;
}

.dropdown-menu-heading_sm {
  padding: 10px 15px;
}

.dropdown-menu-heading-title {
  font-size: @font-size;
  font-weight: bold;
  margin: 2px 0;
}

.dropdown-menu-heading-container {
  display: table;
}

.dropdown-menu-heading-container-img {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  padding-right: 10px;
  img {
    max-width: 54px;
    max-height: 54px;
  }
  @media (max-width: 767px) {
    img {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

.dropdown-menu-heading-container-content {
  display: table-cell;
  vertical-align: middle;
}

.dropdown-menu-close {
  float: right;
  color: @text-muted;
  font-size: 20px;
  margin-left: 10px;
  .opacity(.7);
  &:hover {
    color: @text-muted;
    .opacity(1);
  }
}

.dropdown-menu-wfull {
  width: 100%;
}

.dropdown-menu-nav-header {
  padding: 5px 12px;
  font-weight: bold;
}

.dropdown-menu-ico {
  width: 24px;
  text-align: center;
  margin-right: 5px;
  img {
    max-width: 16px;
    max-height: 16px;
  }
}

.dropdown-menu-count {
  color: @text-muted !important;
}

/* Breadcrumb */
.breadcrumb {
  padding: (@default-spacing / 2) @default-spacing;
  margin-bottom: 0;
  background-color: white;
  border-top: 1px solid @border-color-light;
  font-size: @font-size-md;
  > li {
    color: @text-muted;
    > a {
      .link-grey();
    }
  }
}

/* Favorites */
.c-fav {
  .btn-iconic();
  &.active {
    .link-grey-box-active();
  }
}

/* Price */
.c-price {
  font-weight: bold;
  color: @text-color;
  white-space: nowrap;
}

.c-price-sub {
  font-weight: normal;
  color: @text-muted;
  font-size: @font-size-md;
}

/* Date */
.c-date {
  color: @grey-muted;
}

/* Labels */
.label {
  font-weight: normal;
  .rounded(@border-radius-sm);
  border: 1px solid transparent;
}

.label-md {
  padding: 3px 7px;
  .rounded(@border-radius-sm);
  font-size: @font-size-sm;
}

.label-urgent {
  color: @text-color;
  font-weight: bold;
  background-color: @urgent-color;
}

.label-default {
  color: @grey-muted;
  background-color: @grey-light;
  border-color: @border-color;
}

/* Content Carousel */
// Owl Carousel
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-controls {
    .owl-nav {
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -18px;
      .owl-prev, .owl-next {
        position: absolute;
        width: 36px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        background-color: @grey-md;
        color: white;
        .rounded(50%);
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          color: white;
          background-color: @primary-color;
        }
      }
      .owl-prev {
        left: -45px;
      }
      .owl-next {
        right: -45px;
      }
    }
    .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.owl-loaded {
    display: block;
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  .owl-refresh .owl-item {
    display: none;
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    > img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d;
    }
    // lazy load plugin
    .owl-lazy {
      opacity: 0;
      -webkit-transition: opacity 400ms ease;
      -moz-transition: opacity 400ms ease;
      -ms-transition: opacity 400ms ease;
      -o-transition: opacity 400ms ease;
      transition: opacity 400ms ease;
    }
  }
  &.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item {
      float: right;
    }
  }
  // video plugin
  .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
    &:hover {
      -webkit-transition: scale(1.3, 1.3);
      -moz-transition: scale(1.3, 1.3);
      -ms-transition: scale(1.3, 1.3);
      -o-transition: scale(1.3, 1.3);
      transition: scale(1.3, 1.3);
    }
  }
  .owl-video-playing {
    .owl-video-tn, .owl-video-play-icon {
      display: none;
    }
  }
  .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }
  .owl-video-frame {
    position: relative;
    z-index: 1;
  }
}

.owl-nav {
  &.disabled {
    display: none;
  }
  > div {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    .c-carousel-arrow();
    &.disabled {
      border-color: @border-color-md !important;
      color: @text-muted !important;
      cursor: default !important;
      .opacity(.5);
    }
  }
  .owl-prev {
    left: -60px;
  }
  .owl-next {
    right: -60px;
  }
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
  &.disabled {
    display: none;
  }
}

.owl-dot {
  display: inline-block;
  span {
    display: block;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    .rounded(50%);
    cursor: pointer;
    .link-grey-box();
    .active& {
      .link-grey-box-active();
    }
  }
}

.c-carousel-arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  .rounded(@border-radius-sm);
  cursor: pointer;
  .link-grey-box();
  &:hover {
    color: @primary-color;
    border-color: @primary-color;
  }
}

.c-carousel-heading {
  h2, .index__heading__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.c-carousel-heading-nav {
  float: right;
  position: relative;
  top: -5px;
}

.c-carousel-heading-nav-arrow {
  margin-left: 5px;
}

/* Scroll to top */
.scrolltop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px 12px;
  z-index: 99;
  .rounded(@border-radius-sm);
  .link-grey-box();
}

/* Container */
.mobile-container {
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* Alerts */
.alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  z-index: 9999;
}

.alert-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-info {
  color: darken(@info-color, 20%);
  background: lighten(@info-color, 40%)
}

.alert-warning {
  color: darken(@warning-color, 20%);
  background: lighten(@warning-color, 40%)
}

.alert-success {
  color: darken(@success-color, 20%);
  background: lighten(@success-color, 40%)
}

.alert-danger, .alert-error {
  color: darken(@danger-color, 20%);
  background: lighten(@danger-color, 40%)
}

.alert-default {
  color: @text-muted;
  background: @grey-light;
}

.alert-controls {
  margin-top: 10px;
}

/* Autocomplete */
.autocomplete {
  .clear-ul();
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid @border-color;
  z-index: 999;
  width: 100% !important;
  > li {
    display: block;
    padding: 7px 10px;
    cursor: pointer;
    &:hover {
      background: @link-hover-bg;
      color: @link-hover-color;
    }
    + li {
      border-top: 1px dotted @border-color;
    }
  }
}

/* Metro */
.c-metro-selected {
  display: inline-block;
  vertical-align: middle;
}

.c-metro-ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-color: @grey-md;
  .rounded(50%);
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.c-metro-ico-cnt {
  color: white;
  text-align: center;
  font-size: 10px;
  display: block;
  position: relative;
  top: 2px;
}

/* Pagination */
.pager-input {
  float: right;
  color: @text-muted;
  .form-control {
    width: 70px;
    margin-left: 5px;
    text-align: center;
  }
  @media (max-width: 991px) {
    display: none;
  }
}

.pager {
  text-align: left;
  margin: 0;
  > li {
    > a {
      &.disabled {
        color: @text-muted;
        .opacity(.7);
        cursor: default;
        background-color: transparent !important;
      }
    }
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

.pagination-wrap {
  margin: @default-spacing 0;
  @media (max-width: 767px) {
    margin: (@default-spacing * 2) 0;
  }
}

.pagination {
  margin: 0;
  > .disabled {
    > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {
      color: @text-muted;
      border-color: @border-color;
    }
  }
  > li {
    > a, > span {
      border-color: @border-color;
      color: @link-grey-color;
    }
    > a {
      &:hover {
        color: @link-hover-color;
        background-color: white;
        border-color: @border-color;
      }
    }
    &.active {
      > a, > a:hover, > a:focus, > span, > span:hover, > span:focus {
        color: white;
        background-color: @link-active-bg;
        border-color: @link-active-bg;
      }
    }
  }
  @media (max-width: 767px) {
    display: block;
    text-align: center;
    > li {
      > a {
        float: none;
      }
    }
  }
}

/* Container */
.container_sm {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container_xs {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container-mobile {
  @media (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* RSS */
.rssSubscribe {
  margin: @default-spacing 0;
  text-align: center;
  padding: @default-spacing / 2;
  background-color: white;
  .rounded(@border-radius);
  > a {
    .link-grey();
  }
}

/* Upload Button */
.upload-btn {
  position: relative;
}

.upload-mask {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 30px;
  input {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 100px;
    cursor: pointer;
    .opacity(0);
  }
}

/* Nav */
.nav-tabs {
  border-bottom: 1px solid @border-color;
  > li {
    &.active > a {
      &, &:hover, &:focus {
        border: 1px solid @border-color;
        border-bottom-color: transparent;
        color: @text-color;
      }
    }
    > a {
      color: @link-color;
      text-decoration: none !important;
      &:hover, &:focus {
        background-color: @link-hover-bg;
        color: @link-hover-color;
      }
    }
  }
  &.has-first {
    > li:first-child {
      margin-left: @default-spacing;
    }
  }
}

/* Modal */
.modal {
  z-index: 1111;
  color: @text-color;
}

.modal-content {
  background-color: white;
  border: 0;
  .rounded(@border-radius);
  .box-shadow(none);
}

.modal-header {
  border-color: @border-color;
  .close {
    font-size: 30px;
    margin-bottom: -4px;
  }
}

.modal-footer {
  text-align: left;
  border-color: @border-color;
}

.modal-body {
  + .modal-body {
    border-top: 1px solid @border-color;
  }
}

.modal-title {
  color: @text-color;
}

.modal-footer-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-middle {
  text-align: center;
  padding: 0 !important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.modal-backdrop {
  z-index: 1110;
  background-color: @grey-darkest;
}

.modal-dialog-lg {
  @media (min-width: 992px) {
    width: 960px;
  }
}

.modal-dialog-sm {
  @media (min-width: 768px) {
    width: 350px;
  }
}

.modal-dialog-md {
  max-width: 400px;
}

/* Tags */
.c-tags {
  &_spacing {
    margin: 15px 0;
  }
}

.c-tag {
  display: inline-block;
  text-decoration: none !important;
  padding: 3px 7px;
  margin-bottom: 4px;
  border: 1px solid @border-color;
  .rounded(@border-radius);
  white-space: nowrap;
  color: @grey-muted;
  &.active {
    color: @link-hover-color;
  }
}

/* Loading */
.c-loader {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/loader.gif);
}

/* Other */
.relative {
  position: relative;
}
.notrounded {
  .rounded(0);
}

.inline-block {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center !important;
}

.c-spacer {
  height: 15px;
}

.static {
  position: static;
}