/* Header */
.l-header {
	display: -webkit-flex;
  display: flex;
	height: @header-height;
	color: @header-text;
	background-color: @header-bg;
	font-size: @font-size-md;
	position: relative;
	@media (min-width: 768px) {
	.fixed-header & {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1001;
		}
	}
	@media (max-width: 767px) {
		display: block;
		height: auto;
	}
}
.l-header-left {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: @header-height;
  @media (max-width: 767px) {
		display: block;
		height: auto;
	}
}
.l-header-logo {
	img {
		max-height: @header-height;
	}
}
.l-header-btn {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: @header-height;
	padding: 0 @default-spacing;
	color: @header-links;
	border-left: 1px solid @header-border;
	&:hover, &:active, &:focus {
		background-color: @header-links-hover-bg;
		color: @header-links;
	}
	&.active {
		background-color: @primary-color;
		color: white;
	}
	@media (max-width: 767px) {
		border-left: 0;
	}
}
.l-header-btn-add {
	background-color: @green;
	color: white !important;
	font-weight: bold;
	min-width: @header-height;
	-webkit-justify-content: center;
	justify-content: center;
	&:hover, &:active, &:focus {
		background-color: darken(@green, 3%);
	}
}
.l-header-btn-ico {
	font-size: 16px;
}
.l-header-btn-text {
	margin-left: 5px;
}
.l-header-item {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: @header-height;
}
.l-header-item_user {
	> .dropdown-menu {
		margin-top: 0;
		left: auto;
		right: 0;
	}
	&.open {
		> .l-header-btn {
			background-color: @header-links-hover-bg;
			color: @header-links;
		}
	}
	@media (max-width: 767px) {
		> .dropdown-menu {
			left: 0;
			right: auto;
		}
	}
}
.l-header-nav {
	background-color: @header-bg;
	> a {
		color: @header-links;
		&:hover, &:active, &:focus {
			background-color: @header-links-hover-bg;
			color: @header-links;
		}
		&.active {
			background-color: @primary-color;
			color: white;
		}
	}
	@media (min-width: 992px) {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		border-left: 1px solid @header-border;
		height: @header-height;
		> a {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			height: @header-height;
			padding: 0 @default-spacing;
		}
	}
	@media (max-width: 991px) and (min-width: 768px) {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
	}
	@media (max-width: 991px) {
		border-top: 1px solid @header-border;
		width: 100%;
		> a {
			display: block;
			padding: 15px;
			border-bottom: 1px solid @header-border;
		}
	}
}
.l-header-nav-toggle {
	display: -webkit-flex;
	display: flex;
	border-left: 1px solid @header-border;
	border-right: 1px solid @header-border;
	height: @header-height;
	width: @header-height;
	position: relative;
	background: @header-links-hover-bg;
	&.collapsed {
		background: @header-bg;
		.l-header-nav-toggle-bar {
			background: fade(@header-text, 50%);
		}
	}
	@media (min-width: 992px) {
		display: none;
	}
	@media (max-width: 767px) {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.l-header-nav-toggle-bar {
	width: @header-height - 20;
	height: 3px;
	display: block;
	background: @header-text;
	position: absolute;
	left: 10px;
	.rounded(@border-radius);
}
.l-header-nav-toggle-bar1 {
	top: 50%;
	margin-top: -10px;
}
.l-header-nav-toggle-bar2 {
	top: 50%;
	margin-top: -2px;
}
.l-header-nav-toggle-bar3 {
	top: 50%;
	margin-top: 6px;
}
.l-header-right {
	display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
  @media (max-width: 767px) {
  	border-bottom: 1px solid @border-color;
  	margin: 0;
  	border-top: 1px solid @header-border;
  	background-color: @body-bg;
  	.l-header-item {
	  	-webkit-flex: 1;
	  	flex: 1;
	  	height: auto;
	  	+ .l-header-item {
	  		border-left: 1px solid @border-color;
	  	}
	  }
	  .l-header-btn {
	  	display: block;
	  	width: 100%;
	  	height: auto;
	  	text-align: center;
	  	padding: 10px 15px;
	  	color: @grey;
	  }
  }
}
.l-headerShort {
	padding-top: 30px;
	text-align: center;
}
.l-headerShort-heading {
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.l-headerShort-heading-title {
	font-size: 24px;
	margin: 0;
	@media (max-width: 767px) {
		font-size: 16px;
	}
}

/* Footer */
.l-footer {
	background-color: @footer-bg;
	border-top: 1px solid @border-color;
}
.l-footer-in {
	padding: 30px 0;
}
.l-footer-menu {
	.clear-ul();
	> li {
		margin-bottom: 7px;
		a {
			.link-dark();
		}
	}
}
.l-footer-text {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid @border-color;
}

/* Filter */
.l-filter {
	padding: @default-spacing;
	background-color: @filter-bg;
}
.l-filter-form {
	display: table;
	width: 100%;
	position: relative;
	@media (max-width: 767px) {
		display: block;
		.dropdown-menu {
			width: 100%;
		}
	}
}
.l-filter-form-item {
	display: table-cell;
	width: 1%;
	vertical-align: top;
	+ .l-filter-form-item {
		.l-filter-form-btn {
			margin-left: -2px;
		}
	}
	@media (max-width: 767px) {
		display: block;
		width: auto;
		margin-bottom: 10px;
		position: relative;
		+ .l-filter-form-item {
			.l-filter-form-btn {
				margin-left: 0;
			}
		}
	}
}
.l-filter-form-btn {
	display: block;
	white-space: nowrap;
	border: 2px solid @border-color;
	color: @grey-muted;
	padding: 10px 15px;
	position: relative;
	z-index: 10;
	&:hover, &:active, &:focus {
		border-color: @border-color-md;
		color: @grey-dark;
		z-index: 11;
	}
}
.l-filter-form-toggle {
	display: block;
	white-space: nowrap;
	border: 2px solid @primary-color;
	color: @grey-muted;
	padding: 10px 15px;
	position: relative;
	color: @primary-md-color;
	font-weight: bold;
	&.collapsed {
		border-color: @border-color;
		&:hover {
			border: 2px solid @border-color-md;
		}
	}
	@media (max-width: 991px) {
		text-align: center;
	}
}
.l-filter-form-submit {
	display: block;
	white-space: nowrap;
	color: white;
	padding: 10px 15px;
	background-color: @primary-color;
	border: 2px solid transparent;
	margin-left: -2px;
	&:hover, &:active, &:focus {
		background-color: @primary-md-color;
	}
	@media (max-width: 767px) {
		margin: 0;
		width: 100%;
	}
}
.l-filter-form-search {
	display: table-cell;
	@media (max-width: 767px) {
		display: block;
		margin-bottom: 10px;
	}
}
.l-filter-form-input {
	padding: 10px 15px;
	height: 44px;
	border: 2px solid @border-color;
	border-right: 0;
	display: block;
	width: 100%;
	outline: none !important;
	margin-left: -2px;
	position: relative;
	z-index: 10;
	&:focus {
		border-color: @border-color-md;
		z-index: 11;
	}
	@media (max-width: 767px) {
		border-right: 2px solid @border-color;
		margin-left: 0;
	}
}
.l-filter-form-wrap {
	display: table;
	width: 100%;
	@media (max-width: 991px) {
		display: block;
	}
}
.l-filter-form-left {
	display: table-cell;
	vertical-align: top;
	@media (max-width: 991px) {
		display: block;
	}
}
.l-filter-form-right {
	display: table-cell;
	vertical-align: top;
	width: 1%;
	white-space: nowrap;
	padding-left: @default-spacing;
	@media (max-width: 991px) {
		margin-top: 10px;
		display: block;
		width: auto;
		padding: 0;
	}
}
.l-filter-form-right-item {
	+ .l-filter-form-right-item {
		margin-left: 15px;
	}
}
.l-filter-qsearch {
	width: 100%;
}
.l-filter-qsearch-item {
	display: table;
	width: 100%;
	padding: 15px;
	+ .l-filter-qsearch-item {
		border-top: 1px solid @border-color;
	}
	text-decoration: none;
	&:hover {
		background-color: @link-hover-bg;
		text-decoration: none;
	}
}
.l-filter-qsearch-item-title {
	display: table-cell;
	vertical-align: middle;
}
.l-filter-qsearch-item-title-price {
	display: block;
	font-weight: bold;
	color: @text-color;
}
.l-filter-qsearch-item-img {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	img {
		height: 50px;
		display: inline-block;
		margin-left: 5px;
	}
}
.l-filter-options {
	padding: 15px;
	border-top: 1px solid @border-color-light;
	background-color: @filter-bg;
	position: relative;
	@media (max-width: 767px) {
		.dropdown-menu {
			left: 15px !important;
			right: 15px !important;
		}
	}
}
.l-filter-options-btn {
	display: inline-block;
	width: 180px;
	height: 47px;
	vertical-align: middle;
	white-space: nowrap;
	padding: 5px 25px 5px 10px;
	background-color: white;
	border: 2px solid @border-color;
	position: relative;
	margin-top: 5px;
	margin-right: 3px;
	line-height: 16px;
	text-decoration: none !important;
	overflow: hidden;
	&:hover {
		border-color: @border-color-md;
	}
	@media (max-width: 991px) {
		width: 175px;
	}
	@media (max-width: 767px) {
		display: block;
		width: auto;
		margin-right: 0;
	}
}
.l-filter-options-btn-caret {
	position: absolute;
	top: 2px;
	right: 10px;
	color: @text-color;
}
.l-filter-options-btn-title {
	display: block;
	color: @text-color;
	font-size: 13px;
}
.l-filter-options-btn-value {
	font-size: 12px;
	color: @text-muted;
}
.l-filter-options-checkboxes {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-filter-options-checkbox {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px !important;
	margin-right: 10px;
	@media (max-width: 767px) {
		display: block;
		margin-right: 0;
		> label {
			display: block;
			border: 1px solid @border-color;
			padding: 10px 15px 10px 30px;
		}
	}
}
.l-filter-options-fromto {
	white-space: nowrap;
}
.l-filter-options-fromto-input {
	width: 100px !important;
	text-align: center;
}
.l-filter-checkboxes {
	display: table;
	width: 100%;
	padding: 15px;
}
.l-filter-checkboxes-item {
	display: table-cell;
	vertical-align: top;
  .checkbox {
   	margin-top: 0 !important;
    white-space: nowrap;
    padding-right: 15px;
    margin-bottom: 5px;
   }
}
.l-filter-metro-item {
	margin: 0;
	> a {
		text-decoration: none;
		display: block;
		padding: 7px 15px;
		&:hover {
			text-decoration: none;
			background-color: @link-hover-bg;
		}
	}
	+ .l-filter-metro-item {
		border-top: 1px dotted @border-color;
	}
}
.l-filter-metro-item-list {
	padding: 0 15px;
}
.l-filter-m {
	margin-top: 15px;
}
.l-filter-m-item {
	margin-bottom: 10px;
}

// Aside Filter
.l-filterAside {
	background-color: white;
	margin-bottom: 15px;
}
.l-filterAside-element {
	+ .l-filterAside-element {
		border-top: 1px solid @grey-light;
	}
	.checkbox {
		margin-top: 0;
	}
}
.l-filterAside-element-heading {
	display: block;
  padding: 10px 40px 10px 15px;
  text-decoration: none !important;
  color: @primary-color;
  background-color: white;
  position: relative;
  font-weight: bold;
  position: relative;
  &:hover, &:active, &:focus {
		color: @primary-color;
	}
  &.collapsed {
  	color: @text-color;
  	
  	&:hover {
  		color: @primary-color;
  	}
  	.l-filterAside-element-heading-arrow {
  		.rotation(-90deg);
  	}
  }
  > span {
  	display: block;
    font-size: 12px;
    color: @text-muted;
    font-weight: normal;
  }
}
.l-filterAside-element-heading-arrow {
	position: absolute;
	color: @text-muted;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  text-align: center;
  .transition-duration(.3s);
}
.l-filterAside-element-in {
	padding: 10px 15px;
}
.l-filterAside-element-links {
	.clear-ul();
	padding: 15px;
	a {
		.link-dark();
	}
	> li {
		+ li {
			margin-top: 5px;
		}
	}
}
.l-filterAside-element-content {
	border-top: 1px solid @grey-light;
}
.l-filterAside-fromto {
	margin: 0 -5px 10px -5px;
	&:after {
		.clear();
	}
}
.l-filterAside-fromto-input {
	float: left;
	padding: 0 5px;
	width: 50%;
}
.l-filterAside-currency {
	display: table;
  width: 100%;
  padding: 0;
  margin: 0 0 15px 0;
  border: 1px solid @primary-color;
  font-size: 13px;
  > li {
  	display: table-cell;
  	width: 1%;
  	text-align: center;
  	+ li {
  		border-left: 1px solid @primary-color;
  	}
  	> a {
  		display: block;
  		padding: 2px 3px;
  		color: @text-muted;
  		text-decoration: none !important;
  		&:hover {
  			color: @primary-color;
  		}
  	}
  	&.active {
			> a, > a:hover {
				background-color: @primary-color;
				color: white;
			}
  	}
  }
}
.l-filterAside-dropdown {
	margin-bottom: 10px;
	font-size: 13px;
}
.l-filterAside-footer {
	text-align: center;
	padding: 10px;
	border-top: 1px solid @border-color;
	.btn {
		margin: 5px 0;
	}
}
.l-filterAside-m {
	margin-bottom: 15px;
}
.l-filterAside-m-toggle {
	margin-bottom: 15px;
}

/* Regions */
.l-regions {
	width: 100%;
}
.l-regions-heading {
	display: table;
	width: 100%;
	border-bottom: 1px solid @border-color;
	white-space: nowrap;
	@media (max-width: 991px) {
		display: block;
		height: auto;
	}
	@media (max-width: 767px) {
		white-space: normal;
	}
}
.l-regions-heading-left {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 15px;
	@media (max-width: 991px) {
		display: block;
		width: auto;
		padding: 0 15px;
		margin: 15px 0;
	}
}
.l-regions-heading-right {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 15px;
	text-align: right;
	@media (max-width: 991px) {
		display: block;
		width: auto;
		text-align: left;
		padding: 0 15px;
		margin: 15px 0;
	}
}
.l-regions-heading-right-item {
	margin-left: 10px;
	display: inline;
	white-space: nowrap;
	@media (max-width: 991px) {
		margin-left: 0;
		margin-right: 15px;
	}
}
.l-regions-heading-title {
	font-size: @font-size;
	font-weight: bold;
	margin: 0;
}
.l-regions-content {
	display: table;
	width: 100%;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-regions-content-column {
	display: table-cell;
  vertical-align: top;
  width: 1%;
  + .l-regions-content-column {
  	border-left: 1px solid @border-color;
  }
	@media (max-width: 767px) {
		display: block;
		width: auto;
		border-color: 0;
	}
}
.l-regions-list {
	.clear-ul();
	position: relative;
	overflow: hidden;
	> li {
		> a, > .hidden-link {
			display: block;
			padding: 7px 15px 7px 40px;
			color: @link-dark-color;
			text-decoration: none;
			white-space: nowrap;
			&:hover {
				color: @link-dark-hover-color;
				background-color: @link-hover-bg;
			}
		}
	}
}
.l-regions-list-letter {
	position: absolute;
	top: 7px;
	left: 15px;
	color: @text-muted;
}
.l-regions-list-item-main {
	font-weight: bold;
}

/* Categories Menu */
.l-categories-list-wrapper {
	display: table;
	width: 100%;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-categories-list-wrapper-in {
	display: table-cell;
	+ .l-categories-list-wrapper-in {
		border-left: 1px solid @border-color;
	}
	@media (max-width: 767px) {
		display: block;
		+ .l-categories-list-wrapper-in {
			border-top: 1px dotted @border-color;
			border-left: 0;
		}
	}
}
.l-categories-selectedItem {
	margin: 10px 0;
	img {
		margin-right: 5px;
	}
}

/* Social Form */
.l-socialForm {
	display: table;
	width: 100%;
}
.l-socialForm-select {
	display: table-cell;
	padding-right: 10px;
	width: 160px;
}
.l-socialForm-input {
	display: table-cell;
	position: relative;
	@media (max-width: 767px) {
		padding-right: 20px;
	}
}
.l-socialForm-delete {
	position: absolute;
	right: -30px;
	top: 0;
	padding: 7px 10px;
	@media (max-width: 767px) {
		right: -10px;
	}
}

/* Content */
.l-content {
	padding: (@default-spacing * 2) 0;
	&_white {
		background-color: white;
	}
	&_sm {
		padding: @default-spacing 0;
	}
	+ .l-content {
		border-top: 1px solid @border-color;
	}
}
.l-content-text {
	font-size: @font-size-text;
	line-height: @line-height-text;
	p {
		margin: 0 0 15px 0;
	}
}

/* Content Box */
.l-content-box {
	background-color: white;
	border: 1px solid @border-color;
}
.l-content-box-in {
	padding: @default-spacing;
	+ .l-content-box-in {
		border-top: 1px solid @border-color;
	}
}
.l-content-box-in_md {
	padding: @default-spacing * 2;
}
.l-content-box-heading {
	display: table;
	width: 100%;
	border-bottom: 1px solid @border-color;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-content-box-heading-l {
	display: table-cell;
	vertical-align: middle;
	padding: (@default-spacing * 1.5) @default-spacing;
	@media (max-width: 767px) {
		display: block;
		padding: @default-spacing;
	}
}
.l-content-box-heading-price {
	display: table-cell;
	width: 1%;
	min-width: 100px;
	vertical-align: middle;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
		text-align: center;
		width: auto;
	}
}
.l-content-box-heading-title {
	.l-pageHeading-title();
}
.l-content-box-cols {
	position: relative;
	&:after {
		.clear();
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 30%;
		bottom: 0;
		width: 1px;
		background-color: @border-color;
		z-index: 1;
	}
	@media (max-width: 767px) {
		&:before {
			display: none;
		}
	}
}
.l-content-box-left {
	float: left;
	width: 70%;
	@media (max-width: 767px) {
		float: none;
		width: auto;
	}
}
.l-content-box-sidebar {
	float: left;
	width: 30%;
	@media (max-width: 767px) {
		width: auto;
		float: none;
		margin-top: @default-spacing;
		border-top: 1px solid @border-color;
	}
}
.l-content-box-title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

/* Main Layout */
.l-mainLayout {
	margin-left: -15px;
	margin-right: -15px;
	&:after {
		.clear();
	}
}
.l-mainLayout-content {
	padding: 0 15px;
	&.has-sidebar {
		float: left;
		width: 75%;
		@media (max-width: 1199px) {
			width: 70%;
		}
		@media (max-width: 991px) {
			width: 65%;
		}
		@media (max-width: 767px) {
			float: none;
			width: auto;
		}
	}
}
.l-mainLayout-sidebar {
	float: left;
	width: 25%;
	padding: 0 15px;
	@media (max-width: 1199px) {
		width: 30%;
	}
	@media (max-width: 991px) {
		width: 35%;
	}
	@media (max-width: 767px) {
		float: none;
		width: auto;
	}
}
.l-mainLayout-sidebar-box {
	background-color: white;
	.rounded(@border-radius);
	border: 1px solid @border-color;
}

.l-mainLayout-sidebar-item {
	margin-bottom: 15px;

	&:first-of-type {
		margin-top: 15px;
	}
}

.l-mainLayout-sidebar-item-title {
	margin: 0;
	padding: 0 15px 10px 15px;
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.l-mainLayout-sidebar-item-in {
	padding: 0 15px;
}
.l-mainLayout-sidebar-title {
	margin: 0 0 10px 0;
	font-size: 16px;
}
.l-mainLayout-sidebar-nav {
	.clear-ul();
	> li {
		> a {
			display: block;
			padding: 5px 15px;
			text-decoration: none !important;
			&:hover {
				background-color: @link-hover-bg;
			}
		}
		&.active {
			padding: 5px 15px;
			position: relative;
			color: @text-color;
			background-color: @link-hover-bg;
		}
	}
}
.l-mainLayout-sidebar-nav-remove {
	position: absolute;
	top: 0;
	right: 0;
	color: @text-muted;
	&:hover {
		color: @red;
	}
}

/* Page Heading */
.l-pageHeading {
	margin-bottom: 15px;
}
.l-pageHeading-title {
	margin: 0;
	padding: 0;
	font-size: 24px;
	display: inline;
	vertical-align: middle;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	@media (max-width: 767px) {
		font-size: 18px;
	}
}
.l-pageHeading-in {
	display: table;
	width: 100%;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-pageHeading-in-l {
	display: table-cell;
	vertical-align: middle;
	@media (max-width: 767px) {
		display: block;
	}
}
.l-pageHeading-in-r {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
		text-align: left;
		margin-top: 10px;
	}
}
.l-pageHeading-subtext {
	font-size: 12px;
	margin-top: 10px;
}
.l-pageSubheading {
	margin: 20px 0;
	font-size: 18px;
}

.l-blockHeading {
	margin-bottom: 7px;
}
.l-blockHeading-title {
	margin: 0;
	padding: 0;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

/* Comments */
.l-comments {
	margin-bottom: @default-spacing;
}
.l-comments-leave {
	border: 1px solid @border-color;
	margin: @default-spacing 0;
}
.l-comments-leave-toggle {
	display: block;
	text-align: center;
	padding: @default-spacing;
	text-decoration: none !important;
	background-color: @grey-light;
	color: @primary-color;
	&.collapsed {
		background-color: white;
		color: @grey-muted;
		&:hover {
			color: @link-hover-color;
		}
	}
}
.l-comments-leave-form-in {
	padding: 15px;
	border-top: 1px solid @border-color;
}
.l-comments-list-item {
	overflow: hidden;
	zoom: 1;
}
.l-comments-list-item-in {
	display: table;
	width: 100%;
}

.l-comments-list-item-avatar {
	float: left;
	width: 50px;
	@media (max-width: 767px) {
		width: 30px;
	}
}
.l-comments-list-item-answer {
	margin-left: 65px;
	margin-top: 15px;
	overflow: hidden;
	zoom: 1;
	.l-comments-list-item-avatar {
		width: 30px;
	}
}
.l-comments-list-item-content {
	overflow: hidden;
	zoom: 1;
	padding-left: 15px;
	@media (max-width: 767px) {
		padding-left: 10px;
	}
}
.l-comments-list-item-content-top {
	> a, > span {
		margin-right: 3px;
	}
}
.l-comments-list-item-date {
	font-size: @font-size-md;
}
.l-comments-list-item-text {
	margin: 3px 0;
}
.l-comments-list-item-controls {
	> a {
		margin-right: 5px;
	}
}

/* SVC */
.l-svc-item {
	display: block;
	
	margin-bottom: 10px;
	> label {
		display: block;
		cursor: pointer;
		margin: 0;
		border: 2px solid @border-color;
		&:hover {
			border-color: @border-color-md;
		}
	}
	&.active {
		> label {
			border-color: @primary-color;
		}
		.l-svc-item-descr {
			display: block;
		}
	}
}
.l-svc-item-top {
	display: block;
	padding: 10px 15px;
}
.l-svc-item-icon {
	margin: 0 5px;
}
.l-svc-item-descr {
	background-color: white;
	font-weight: normal;
	border-top: 1px solid @border-color;
	display: none;
	padding: 15px;
}
.l-svc-item-price {
	float: right;
	position: relative;
	top: 5px;
}

/* Services */
.l-serviceItem {
	overflow: hidden;
	zoom: 1;
	margin-top: 30px;
}
.l-serviceItem-img {
	float: left;
	width: 130px;
	text-align: center;
	padding-right: 15px;
	@media (max-width: 767px) {
		width: 50px;
	}
}
.l-serviceItem-content {
	overflow: hidden;
	zoom: 1;
}
.l-serviceItem-title {
	font-size: 24px;
	margin-top: 10px;
	@media (max-width: 767px) {
		margin-top: 0;
	}
}
.l-serviceAds {
	margin-top: 30px;
	padding: 30px;
	border-top: 1px solid @border-color;
	text-align: center;
}
.l-serviceAds-item {
	+ .l-serviceAds-item {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px dotted @border-color;
	}
}
.l-serviceAds-item-title {
	font-size: 18px;
	margin-bottom: 15px;
}

/* Banners */
.l-banner-top {
	text-align: center;
}
.l-banner-h {
	margin: 30px 0;
	text-align: center;
}
.l-banner-v {
	margin-bottom: 30px;
	text-align: center;
}
.l-banner-m {
	margin: 20px 0;
	text-align: center;
}

/* Payment Methods */
.l-payMethods {
	margin: 0 -7px;
	&:after {
		.clear();
	}
}
.l-payMethods_inline {
	.l-payMethods-item {
		display: inline-block;
		float: none;
		width: 200px;
		@media (max-width: 767px) {
	  	width: auto;
	  	display: block;
	  }
	}
}
.l-payMethods-item {
	display: block;
  width: 25%;
  float: left;
  padding: 7px;
  text-align: center;
  position: relative;
  &.active {
  	.l-payMethods-item-in {
  		border-color: @primary-color;
  	}
  	.l-payMethods-item-content {
  		border-color: @primary-color;
  		background-color: @primary-color;
  		color: white;
  	}
  }
  @media (max-width: 767px) {
  	float: none;
  	width: auto;
  }
}
.l-payMethods-item-in {
	display: block;
	border: 2px solid @border-color;
	cursor: pointer;
	label {
		cursor: pointer;
	}
	&:hover {
		border-color: @border-color-md;
	}
}
.l-payMethods-item-logo {
	height: 100px;
	white-space: nowrap;
	text-align: center;
	padding: 10px;
	background-color: white;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	img {
		vertical-align: middle;
		max-height: 80px;
	}
}
.l-payMethods-item-content {
	padding: 10px;
	border-top: 1px solid @border-color;
}
.l-payMethods-item-radio {
	position: absolute;
	visibility: hidden;
}

/* Limit */
.l-limitEnd {
  padding: 15px 0;
  + .l-limitEnd {
    border-top:1px dashed @border-color;
  }
  &:after {
    .clear();
  }
}
.l-limitEnd-categories {
  margin-bottom: 10px;
}
.l-limitEnd-left {
  @media (min-width: 992px) {
    float: left;
    width:35%;
  }
}
.l-limitEnd-right {
  &:after {
    .clear();
  }
  @media (min-width: 992px) {
    float: left;
    width:65%;
  }
  @media (max-width: 991px) {
    margin-top: 10px;
  }
}
.l-limitEnd-item {
  border: 1px solid @border-color;
  display: table;
  width: 50%;
  min-height: 80px;
  height: 100%;
  float: left;
  + .l-limitEnd-item {
    border-left: 0;
  }
  @media (max-width: 767px) {
    float: none;
    width: 100%;
    + .l-limitEnd-item {
      border-left: 1px solid @border-color;
      border-top: 0;
    }
  }
}
.l-limitEnd-item-num {
  display: table-cell;
  width: 70px;
  text-align: center;
  padding: 10px 15px;
  vertical-align: middle;
  font-size: 36px;
  height: 100%;
}
.l-limitEnd-item-content {
  display: table-cell;
  padding: 15px 15px 15px 0;
  vertical-align: middle;
}
.l-limitEnd-active {
  color: @red;
}
.l-limitEnd-increase {
  padding: 15px;
  text-align: center;
  border-left: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  border-right: 1px solid @border-color;
}

/* Owner Block */
.l-ownerBlock {
	position: fixed;
	z-index: 99;
	bottom: 0;
	left: 0;
	width: 100%;
	background: fade(white, 90%);
	.drop-shadow(0, -1px, 5px, 0.2);
}
.l-ownerBlock-top {
	padding: 10px 0;
	a {
		.link-dark();
	}
}
.l-ownerBlock-content {
	display: table;
	width: 100%;
	@media (max-width: 767px) {
		display: block;
		text-align: center;
	}
}
.l-ownerBlock-content-l {
	display: table-cell;
	vertical-align: middle;
	@media (max-width: 767px) {
		display: block;
		margin-bottom: 15px;
	}
}
.l-ownerBlock-content-r {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
		text-align: center;
	}
}
.l-ownerBlock-main {
	padding: 20px 0;
	border-top: 1px solid @border-color;
}
.l-ownerBlock-content-link {
	display: inline-block;
	margin-right: 10px;
}

/* Sitemap */
.l-sitemap-item {
	display: table;
	width: 100%;
	margin: 10px 0 30px 0;
}
.l-sitemap-item-img {
	width: 40px;
	text-align: center;
	display: table-cell;
	vertical-align: top;
	img {
		max-width: 32px;
	}
}
.l-sitemap-item-content {
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
}
.l-sitemap-item-title {
	font-size: 16px;
}
.l-sitemap-item-subcats {
	.clear-ul();
	margin-top: 7px;
	> li {
		+ li {
			margin-top: 5px;
		}
	}
}

/* Stats */
.l-stats {
	display: table;
	width:100%;
	@media (max-width: 992px) {
		display: block;
	}
}
.l-stats-info {
	display: table-cell;
	vertical-align: middle;
	color: @grey-muted;
	@media (max-width: 992px) {
		display: block;
		margin-top: 20px;
	}
}
.l-stats-info-promo {
	background: @highlight-bg;
	padding: 20px;
	text-align: center;
	margin-top: 30px;
	color: @text-color;
}
.l-stats-info-promo-title {
	font-size: @font-size-text;
	margin-bottom:15px;
}
.l-stats-graph {
	display: table-cell;
	vertical-align: middle;
	width: 600px;
	margin-bottom: @default-spacing;
	.axis {
		text {
			font-size: @font-size-xs;
			fill: @grey-muted;
		}
		path, line {
			fill: none;
			stroke: @border-color;
			shape-rendering: crispEdges;
		}
	}
	.bar-item {
		fill: @blue;
	}
	.bar-contacts {
		fill: darken(@blue, 15%);
	}
	.bar-cnt-total {
		font-size: @font-size-sm;
		fill: @grey-muted;
		text-anchor: middle;
	}
	.bar-tooltip {
		position: absolute;
		text-align: left;
		min-width: 160px;
		padding: 5px;
		font-size: @font-size-sm;
		background: white;
		border: 1px solid @border-color;
		span {
			display: block;
		}
	}
	@media (max-width: 992px) {
		display: block;
	}
}

/* Seo Text */
.l-seoText {
	margin: 30px 0;
}

//Новые хлебные крошки

 .l-page__breadcrumb_shadow {
	 position: relative;
	 background: white;
	 border-radius: 4px;
	 border-top: 1px solid @border-color-light;

	 @media (max-width: 991px) {
		 border-bottom: 1px solid @border-color-light;
	 }

	 &:after {
		 content: '';
		 top: 0;
		 left: 4px;
		 position: absolute;
		 background: none;
		 box-shadow: -7px -2px 21px 10px white;
		 width: 0;
		 display: block;
		 height: 100%;
	 }
 }

.l-page__breadcrumb-wrap {
	height: 34px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	@media (max-width: 991px) {
		margin-bottom: -10px;
	}
}

.l-page__breadcrumb_v2 {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		display: none;
	}

	.breadcrumb {
		display: table;
		margin-bottom: 0;
		background: none;
		border-top: 0;
	}
}