.usr-box {
	.l-content-box();
	&:after {
		.clear();
	}
	position: relative;
	&.has-sidebar {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 20%;
			bottom: 0;
			background-color: @border-color;
			width: 1px;
		}
		.usr-box-content {
			float: left;
			width: 80%;
			@media (max-width: 991px) {
				float: none;
				width: auto;
			}
		}
	}
	@media (max-width: 991px) {
		&:before {
			display: none;
		}
	}
}
.usr-box-sidebar {
	float: left;
	width: 20%;
	@media (max-width: 991px) {
		float: none;
		width: auto;
		border-bottom: 1px solid @border-color;
	}
}
.usr-box-sidebar-nav {
	.clear-ul();
	> li {
		> a {
			display: block;
			padding: 10px 15px;
			.link-dark();
		}
		&.active {
			> a {
				color: white !important;
				background-color: @primary-color;
			}
		}
	}
	@media (min-width: 992px) {
		&.collapse {
			display: block;
		}
	}
}
.usr-box-sidebar-nav-cnt {
	float: right;
	font-size: @font-size-sm;
	position: relative;
	top: 2px;
	color: @text-muted;
	.active & {
		color: white;
	}
}
.usr-box-sidebar-toggle {
	background-color: white;
	background-image: none;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 15px;
	text-align: left;
	color: @grey-muted;
	font-weight: bold;
	.inner-shadow(0, 3px, 7px, 0.1);
	> i {
		float: right;
		font-size: 16px;
		.transition-duration(.3s);
		position: relative;
		top: 2px;
	}
	&.collapsed {
		color: @link-dark-color;
		.inner-shadow(0, 0, 0, 0);
		> i {
			.rotation(-90deg);

		}
	}
	@media (min-width: 992px) {
		display: none;
	}
}
.usr-box-content {
	padding: 15px;
}

.usr-content-top {
	display: table;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted @border-color;
	@media (max-width: 991px) {
		display: block;
	}
}
.usr-content-top-main {
	display: table-cell;
	vertical-align: middle;
	@media (max-width: 991px) {
		display: block;
	}
}
.usr-content-top-right {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	white-space: nowrap;
	padding-left: 15px;
	@media (max-width: 991px) {
		display: block;
		width: auto;
		padding: 15px 0 0 0;
	}
}
.usr-content-top-search {
	width: 220px;
	@media (max-width: 991px) {
		width: auto;
	}
}
.usr-content-top-nav {
	display: inline-block;
	.clear-ul();
	> li {
		float: left;
		> a {
			background-color: @grey-light;
			display: block;
			padding: 8px 10px;
			.link-dark();
		}
		&.open > a {
			color: @link-hover-color;
		}
		&:first-child {
			> a {
				.border-radius(0, 0, @border-radius, @border-radius);
			}
		}
		&:last-child {
			> a {
				.border-radius(@border-radius, @border-radius, 0, 0);
			}
		}
		&.active {
			> a {
				background-color: @primary-color;
				color: white;
			}
		}
	}
	&:after {
		.clear();
	}
	@media (max-width: 767px) {
		display: block;
		> li {
			float: none;
			&:first-child {
				> a {
					.border-radius(@border-radius, 0, 0, @border-radius);
				}
			}
			&:last-child {
				> a {
					.border-radius(0, @border-radius, @border-radius, 0);
				}
			}
		}
	}
}

.usr-ads-actions {
	padding: 10px;
	margin-bottom: 15px;
	background-color: @grey-light;
	.rounded(@border-radius);
}
.usr-ads-actions-count {
	display: inline-block;
	@media (max-width: 767px) {
		display: block;
	}
}
.usr-ads-actions-list {
	.clear-ul();
	display: inline-block;
	margin-left: 10px;
	> li {
		display: inline-block;
		margin-right: 8px;
	}
	@media (max-width: 767px) {
		display: block;
		margin: 0;
		> li {
			display: block;
			margin-right: 0;
			margin-top: 8px;
		}
	}
}

/* Pagination */
.usr-pagination {
	&:after {
		.clear();
	}
}
.usr-pagination-dropdown {
	float: right;
	@media (max-width: 767px) {
		float: none;
		margin-bottom: 20px;
		.btn {
			display: block;
			width: 100%;
		}
	}
}

/* Internal Mail */

.usr-dialogs-item {
	display: table;
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted @border-color;
	cursor: pointer;
	&:hover, &.active {
		background-color: @grey-light;
	}
}
.usr-dialogs-item-avatar {
	display: table-cell;
	vertical-align: top;
	width: 65px;
	padding-right: 15px;
	@media (max-width: 767px) {
		display: none;
	}
}
.usr-dialogs-item-content {
	display: table-cell;
	vertical-align: top;
}
.usr-dialogs-item-content-top {
	display: table;
	width: 100%;
}
.usr-dialogs-item-title {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	> a {
		display: inline-block;
		vertical-align: middle;
	}
}
.usr-dialogs-item-actions {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.usr-dialogs-item-msg {
	padding: 10px;
	background-color: @grey-light;
	border: 1px solid @border-color;
	margin-top: 5px;
	.rounded(@border-radius);
}
.usr-dialogs-item-msg-title {
	font-weight: bold;
}
.usr-dialogs-item-msg-date {
	float: right;
	font-size: 12px;
	color: @text-muted;
}

.usr-chat-nav {
	display: table;
	width: 100%;
	padding-bottom: 10px;
	@media (max-width: 767px) {
		display: block;
		padding: 10px;
	}
}
.usr-chat-nav-person {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	@media (max-width: 767px) {
		display: block;
		text-align: center;
	}
}
.usr-chat-nav-r {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	@media (max-width: 767px) {
		display: block;
		margin-top: 10px;
		text-align: center;
	}
}
.usr-chat-box {
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px solid @border-color;
}
.usr-chat-box-content {
	padding: 10px;
	overflow-y: auto;
}
.usr-chat-box-form {
	border-top: 1px solid @border-color;
	padding: 15px 15px 0 15px;
}
.usr-chat-box-form-file {
	float: right;
	padding-top: 5px;
}
.usr-chat-box-item {
	margin: 15px 0;
	&:after {
		.clear();
	}
	&_self {
		float: right;
		background-color: @msg-self;
	}
	&_others {
		background-color: @msg-others;
	}
}
.usr-chat-box-item-in {
	.rounded(@border-radius);
	padding: 15px;
	width: 80%;
}
.usr-chat-box-item-content {
  word-wrap: break-word;    
}
.usr-chat-box-item-file {
	border: 1px dashed @border-color-md;
	padding: 10px;
	margin-top: 10px;
}
.usr-chat-box-item-ad {
	display: table;
	width: 100%;
	border: 1px dashed @border-color-md;
	padding: 10px;
	margin-top: 10px;
}
.usr-chat-box-item-ad-img {
	display: table-cell;
	vertical-align: top;
	width: 100px;
	padding-right: 15px;
}
.usr-chat-box-item-ad-content {
	display: table-cell;
	vertical-align: top;
}
.usr-chat-box-item-ad-title {
	font-weight: bold;
}
.usr-chat-box-date {
	text-align: center;
	color: @text-muted;
}

// Bills
.usr-bill-list-date {
	font-weight: bold;
	font-size: 13px;
}
.usr-bill-list-id {
	text-align: center;
	width: 140px;
	@media (max-width: 767px) {
		display: none;
	}
}
.usr-bill-list-summ {
	text-align: center;
	font-weight: bold;
	width: 140px;
}
.usr-bill-list-summ_minus {
	color: @red;
}
.usr-bill-list-summ_plus {
	color: @green;
}

.usr-bill-pay {
	margin-top: 30px;
	text-align: center;
}
.usr-bill-pay-row {
	margin-bottom: 30px;
}
.usr-bill-pay-title {
	font-weight: bold;
	margin-bottom: 15px;
}
.usr-bill-pay-input {
	.form-control {
		display: inline-block;
		width: 100px;
		text-align: center;
	}
	label {
		position: absolute;
		top: 3px;
		left: 100%;
		font-weight: normal;
		margin-left: 8px;
		color: @text-muted;
	}
}
.usr-bill-pay-input-in {
	position: relative;
	display: inline-block;
}

/* Limits */
.usr-limit {
  display: table;
  width: 100%;
  border:1px solid @border-color;
  background-color: white;
  margin-bottom: 15px;
  position: relative;
  > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
  }
  @media (max-width: 767px) {
    display: block;
    > div {
      display: block;
    }
  }
}
.usr-limit-services-count {
  margin-top: 10px;
}
.usr-limit-stat {
  border-left: 1px solid @border-color;
  width: 25%;
  @media (max-width: 767px) {
    width: auto;
    border-left: 0;
    border-top: 1px solid @border-color;
  }
}

/* Packages */
.usr-package {
	position: relative;
	display: table;
	width: 100%;
	border: 2px solid @border-color;
	cursor: pointer;
	padding: 15px 15px 15px 50px;
	margin-bottom: 15px;
	background-color: white;
	&:hover {
		border-color: @border-color-md;
	}
	&.active {
		border-color: @primary-color;
		cursor: default;
	}
	@media (max-width: 767px) {
		display: block;
	}
}
.usr-package-text {
	display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  @media (max-width: 767px) {
		display: block;
		padding: 0;
	}
}
.usr-package-text-title {
	font-weight: bold;
}
.usr-packag-label {
	position: absolute;
	top: 50%;
  left: 15px;
  margin-top: -13px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}
.usr-package-price {
	display: table-cell;
	vertical-align: middle;
	width: 110px;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
		width: auto;
		text-align: left;
		margin-top: 10px;
	}
}
.usr-package-select {
	display: table-cell;
	vertical-align: middle;
	width: 140px;
	@media (max-width: 767px) {
		display: block;
		width: auto;
		margin-top: 10px;
	}
}

/* Settings */
.usr-settings-box {
	margin-bottom: 5px;
}
.usr-settings-box-title {
	> a {
		text-decoration: none !important;
		display: block;
		padding: 10px 15px;
		background-color: @grey-light;
		color: @grey-muted;
		&:hover {
			color: @grey-dark;
		}
		&.active {
			color: @primary-color;
		}
	}
}
.usr-settings-box-title-icon {
	position: relative;
	top: 3px;
	float: right;
}
.usr-settings-box-content {
	padding-top: 15px;
	padding-bottom: 15px;
}
.usr-settings-photo {
	width: 200px;
	margin-bottom: 10px;
}
.usr-settings-photo-upload {
	margin-bottom: 10px;
	overflow: hidden;
}

.usr-ads-list-dropdown {
  display: table;
  margin-right: 0 !important;

  @media (max-width: 1200px) {
    float: none !important;
    width: 100%;
    margin-top: 5px;
  }

  @media (max-width: 767px) {
    float: none;
    margin-top: 5px;
  }

  &.open {
    .caret {
      transform: rotate(180deg);
    }
  }

  .caret {
    border-top-color: @text-color;
  }

  .dropdown-toggle {
    text-decoration: none;
    position: relative;
    line-height: 18px;
    color: @text-color;
    display: table;

    @media (max-width: 767px) {
      top: inherit;
    }

    >.fa {
      color: #5bb75b;
      opacity: 1 !important;
      font-size: 16px;
      margin-right: 5px;
      top: 2px;
      vertical-align: middle;
    }

    > span {
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25);
    border: 1px solid #E1E1E1;
    border-radius: 0;
    padding: 0;

    @media (min-width: 980px) {
      min-width: 285px;
    }

    @media (max-width: 1200px) {
      left: 0;
      transform: translate(0);
    }

    >li {
      margin: 0 20px;

      @media (max-width: 767px) {
        margin: 0 15px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 15px 0;
        background: transparent !important;
        color: @text-color !important;
        font-size: @font-size;

        span {
          margin-right: 15px;
          padding-right: 0;
          white-space: normal;

          @media (max-width: 360px) {
            max-width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      & + li {
        border-top: 1px solid @border-color;
      }
    }
  }
}

.usr-ads-list-dropdown-ico {
	min-width: 20px;
	min-height: 20px;
	max-height: 20px;
	max-width: 20px;
	padding-right: 10px;
	box-sizing: content-box;

	img {
		width: 100%;
	}
}

.usr-ads-list-dropdown-time {
	margin-left: auto;
}

.u-authorize-form_soc {
	.form-horizontal {
		max-width: 500px;
		margin: 0 auto;

		.checkbox {
			margin-left: 20px;
			margin-bottom: 10px;
		}
	}

	.form-control {
		margin-bottom: 10px;
	}

	.control-group:not(.u-authorize-form_soc__info) {
		@media (min-width: 768px) {
			padding-left: 80px;
		}
	}
}

.u-authorize-form_soc__info {
	display: flex;
	margin-bottom: 15px;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}

	.control-label {
		min-width: 65px;
		max-width: 65px;
	}

	.controls {
		padding-left: 15px;
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			display: block;
			text-align: center;
			padding-left: 0;
			width: 100%;
			margin-top: 10px;
		}
	}
}

.l-table {
	width: 100%;
	display: table;
}

.l-table .l-table-row {
	display: table-row;
}

.l-table .l-table-cell {
	width: 100%;
	display: table-cell;
	vertical-align: top;
}