.search-form-btn {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  background: #353a3c;
  &.l-header-btn {
    position: relative;
    width: auto;
    left: 0;
  }
  &.collapsed {
    background: #414749;
    i {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  i {
    color: rgba(255, 255, 255, 1);
  }
  i {
    font-size: 20px;
  }
}

.collapse.in {
  display: block !important;
}

.search-desktop {
  @media(min-width: 992px) {
    display: block !important;
  }
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .sr-gallery-item {
    width: calc(25% - 20px);
    margin: 10px;
    @media(max-width: 991px) {
      width: calc(50% - 20px);
    }
    @media(max-width: 425px) {
      width: calc(100% - 20px);
    }
  }
  &.premium {
    .sr-gallery-item {
      background: #fff7d9;
      border-color: #f26824;
    }
  }
}

.sr-glItem-img {
  transition: .1s ease-out;
  will-change: transform;
  zoom: 1
}

.noblur-img {
  transition: .1s ease-out;
  will-change: transform;
  zoom: 1
}

body.bg-hide {
  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, .2);
  }
}

.control-user {
  background: rgba(229,243,255,.9);
  @media(min-width: 991px) {
    display: none;
  }
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 12;
  .btn {
    width: 50%;
    border: none;
    border-radius: 0;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 18px;
    i {
      font-size: 18px;
    }
  }
  .btn-message {
    background: #0098d0;
  }
  .btn-call {
    background: #2e9600;
  }
  .list-contact {
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 100%;
    background: #ffffff;
    width: 100%;
    z-index: 12;
    span {
      display: flex;
      flex-direction: column;
      font-size: 0;
      line-height: 0;
      align-items: center;
      a {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 20px;
        &:before {
          margin-right: 5px;
          content: '\f095';
          font-family: FontAwesome;
        }
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 5px;
        }
      }
    }
    &__article {
      background: #efefef;
      color: #a7a7a7;
      margin-bottom: 15px;
    }
  }
  .list-contact__item {
    font-size: 20px !important;
    display: block !important;
    line-height: 20px !important;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 5px;
    }
  }
  h4 {
    padding: 5px;
  }
  .close {
    position: absolute;
    top: 4px;
    right: 15px;
    i {
      font-size: 20px;
    }
  }
}

.l-filter-form-submit_mobile {
  &:focus, &:hover {
    background-color: #007DD1;
  }
}

.vinyl-dp {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.form-btn-collapse {
  color: #007DD1;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.sticky {
  position: sticky;
  top: 65px;
}

.dropdown-menu-modal {
  position: relative;
  float: none;
  width: 100% !important;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .dropdown-menu-heading-title {
    padding-right: 20px;
  }
  .checkbox {
    @media(max-width: 350px) {
      padding-left: 10px;
    }
  }
}

@media (min-width: 768px) {
  .modal-sm-vinil {
    width: 340px;
  }
}

.sr-vip-box {
    @media screen and (max-width: 767px) , screen and (max-height: 400px) {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin: 10px 3px;
      width: calc(50% - 6px);
      display: inline-block;
      a {
        height: 100%;
        display: inline-block;
        width: 100%;
      }
      .sr-gallery-item-content {
        background: #fff7d9;
      }
    }
    .sr-gallery-item {
      border-color: #f26824;
    }
  }
  @media (max-width: 500px) {
    & > div  {
      width: 100%;
    }
  }
}

.btn-clear-search {
  position: absolute;
  text-align: center;
  line-height: 42px;
  display: none;
  right: 1px;
  top: 1px;
  z-index: 11;
  color: #73797b!important;
  background: #fff;
  height: 42px;
  width: 44px;
  &:focus {
    color: #73797b!important;
  }
  &:hover  {
    color: #73797b!important;
  }
}