a:7:{s:9:"mtemplate";i:1;s:5:"title";a:1:{s:2:"ru";s:41:"Условия использования";}s:7:"content";a:1:{s:2:"ru";s:80007:"<p><!--[if gte mso 9]><xml>
<w:WordDocument>
<w:View>Normal</w:View>
<w:Zoom>0</w:Zoom>
<w:PunctuationKerning />
<w:ValidateAgainstSchemas />
<w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
<w:IgnoreMixedContent>false</w:IgnoreMixedContent>
<w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
<w:Compatibility>
<w:BreakWrappedTables />
<w:SnapToGridInCell />
<w:WrapTextWithPunct />
<w:UseAsianBreakRules />
<w:DontGrowAutofit />
</w:Compatibility>
<w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
</w:WordDocument>
</xml><![endif]--></p>
<p><!--[if gte mso 9]><xml>
<w:LatentStyles DefLockedState="false" LatentStyleCount="156">
</w:LatentStyles>
</xml><![endif]--><!--[if gte mso 10]>
<style>
/* Style Definitions */
table.MsoNormalTable
{mso-style-name:"Обычная таблица";
mso-tstyle-rowband-size:0;
mso-tstyle-colband-size:0;
mso-style-noshow:yes;
mso-style-parent:"";
mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
mso-para-margin:0cm;
mso-para-margin-bottom:.0001pt;
mso-pagination:widow-orphan;
font-size:10.0pt;
font-family:"Times New Roman";
mso-ansi-language:#0400;
mso-fareast-language:#0400;
mso-bidi-language:#0400;}
</style>
<![endif]--></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white"><span style="font-size:10.5pt;font-family:Verdana;
color:#333333">Сторонами соглашения являются Владелец сайта и Пользователь. Пользователем может стать любое физическое лицо, индивидуальный предприниматель или юридическое лицо, при условии, что данное лицо принимает условия соглашения в целом. Данное соглашение является публичной офертой.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">Каждая из Сторон гарантирует другим Сторонам, что обладает необходимой правоспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для использования сайта и исполнения прав и обязанностей, следующих из настоящего соглашения. Использование сайта, а так же прохождение регистрации означает, что Пользователь ознакомлен с настоящим соглашением, понимает и принимает его в полном объеме, без всяких оговорок и исключений, в ином случае Пользователь не вправе использовать сайт и его возможности.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">1. Информация о владельце сайта</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">1.1. Под термином &laquo;Владелец сайта &raquo; в настоящем пользовательском соглашении понимается руководство и сотрудники, уполномоченные лица, администрация и модераторы сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">1.2. Сайт </span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">vinyl</span><span style="font-size:10.5pt;font-family:
Verdana;color:#333333">.</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">com</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">.</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">ua</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333" lang="EN-US"> </span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333">(далее - сайт) &ndash; размещенная в сети интернет платформа для временного размещения объявлений Пользователей.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">1.3. Адрес сайта </span><span style="font-size:10.5pt;font-family:Verdana;
color:#333333;mso-ansi-language:EN-US" lang="EN-US">vinyl</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333">.</span><span style="font-size:
10.5pt;font-family:Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">com</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">.</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">ua</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">1.4. Товарные знаки, логотипы и иная символика Владельца сайта: </span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">vinyl</span><span style="font-size:10.5pt;font-family:
Verdana;color:#333333">.</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">com</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">.</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">ua</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333" lang="EN-US"> </span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white"><strong><span style="font-size:10.5pt;font-family:Verdana;
color:#333333">2. Общие условия соглашения</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">2.1. Владелец сайта предлагает к использованию сайт и предоставляемые сайтом возможности, сервисы и функции. Пользователь вправе использовать сайт и его возможности на условиях, оговоренных в настоящем соглашении. Сайт представляет собой торговую площадку в сети интернет, на которой Пользователи могут размещать объявления о товарах, продавать и покупать товары, разрешенные в соответствии с настоящим пользовательским соглашением и законодательством.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">2.2. Стандартные объявления на сайте размещаются на бесплатной временной основе. Объявления размещаются с делением по рубрикам.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">2.3. За некоторые услуги и сервисы сайта Владелец сайта может взимать оплату.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3. Отношения в области авторских прав</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.1. Сайт, программное обеспечение, дизайн и наполнение сайта (контент) являются объектами авторских прав, имеют своих правообладателей, использование этих объектов, кроме случаев, прямо оговоренных в данном пользовательском соглашении либо в законодательстве, разрешается только в рамках предназначения сайта. Никакие из указанных объектов авторских прав не могут быть использованы (в т.ч. воспроизведены, копированы, переработаны, опубликованы, распространены) за рамками сайта без предварительного согласия правообладателя.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.2. Владелец сайта прямо заявляет о снятии с себя всякой ответственности перед любым лицом, в том числе в отношении последствий, возникших в результате чего-либо сделанного или не сделанного, полностью или частично, при использовании всего или какой-либо части содержания данного сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.3. Материалы, размещаемые Пользователями на данном сайте, предназначены только для информации. Пользователь самостоятельно несет ответственность за использование им в объявлении текстов, фотографий, записей, баз данных и прочих видов информации. Пользователь вправе использовать в объявлении информацию только в том случае, если он обладает на нее всеми необходимыми правами, лицензиями, разрешениями и лицензионными договорами, и обладает письменным согласием всех лиц, указанных им в объявлении, даже в случае если это лицо не поименовано, но может быть идентифицировано любым образом.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.4. В целях функционирования сайта, Пользователь, при размещении объявления, предоставляет Владельцу сайта неисключительное, сублицензируемое право опубликования, введения в свет, воспроизведения, копирования, переработки, распространения информации, размещаемой Пользователем при использовании сайта. Контент, размещаемый Пользователем, может быть использован Владельцем сайта в своих интересах.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.5. Всем иным Пользователям сайта Пользователь предоставляет право знакомиться с предоставленной им информацией. Пользователь обязуется не использовать размещенную иным Пользователем информацию иначе как для заключения сделки с данным Пользователем. Таким образом, Пользователи не имеют права опубликования, воспроизведения, копирования, переработки, распространения, введения в свет информации, содержащейся на сайте без предварительного письменного разрешения Владельца сайта либо Пользователя, разместившего соответствующую информацию.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">3.6. Указанные права предоставляется Пользователем на безотзывной, бессрочной и повсеместной основе. Указанные в данном разделе права предоставляются Пользователем бесплатно, Пользователь в данном случае отказывается от своего права на вознаграждение.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4. Ограничительные условия</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.1. Владелец сайта не участвует в договорных отношениях между Пользователями сайта, а только предоставляет Пользователям услуги по использованию сайта и его возможностей. Владелец сайта не является стороной в сделках, заключаемых между Пользователями, не несет ответственности за Пользователей, содержание их объявлений и сообщений, содержание гиперссылок, указанных Пользователями в объявлениях, и за обязательства Пользователей друг перед другом, ни перед Пользователями, ни перед государственными органами.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.2. Все споры и претензии между Пользователями разрешаются ими самостоятельно, без привлечения Владельца сайта, Пользователь освобождает Владельца сайта от ответственности, пеней, штрафов, компенсаций убытков и неполученной прибыли, затрат и издержек, возникших либо могущих возникнуть у Пользователя в связи с использованием сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.3. Пользователь использует сайт и его возможности &laquo;как есть&raquo;, на свой риск, самостоятельно решая, использовать или нет ту или иную возможность сайта, понимает и принимает то, что Владелец сайта, администрация, модераторы, сотрудники не несут никакой ответственности за любые убытки и потери, возникшие или могущие возникнуть в связи с использованием сайта. Ни при каких условиях Владелец сайта, не несет ответственности за прямой или косвенный ущерб в результате использования сайта и его возможностей Пользователем, включая без ограничения случаи, в которых ущерб, будь то специальный или случайный, стал результатом использования или неправильного использования сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.4. Владелец сайта настоятельно рекомендует Пользователям соблюдать необходимую осторожность при использовании сайта, подаче и реакции на объявления, при использовании других возможностей сайта. Сам факт того. Что объявление размещено на сайте не является подтверждением того, что товар либо услуга реально существует, и соответствует описаниям. Пользователь должен осознавать, что модерация объявлений проводится только выборочно, а лицо, подавшее объявление может являться мошенником, злоумышленником, либо недееспособным или несовершеннолетним. Используя сайт, Пользователь подтверждает, что Владелец сайта не несет ответственности за действия Пользователей и третьих лиц.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.5. Пользователь гарантирует, что обладает всеми необходимыми правами, разрешениями и лицензиями для продажи товаров, которые Пользователь указывает в объявлении.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.6. Пользователь гарантирует, что предлагаемые им в объявлении товары реально существуют, не находятся в обременении или залоге и свободны от притязаний третьих лиц. Запрещается давать объявления о продаже краденого имущества, а так же имущества, полученного преступным путем.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.7. Пользователь обязуется предоставлять в объявлении полную и актуальную информацию о товаре, включая условия о доставке товара, и все условия и ограничения по оказанию заявленных Пользователем услуг, и ограничения по использованию предлагаемых к продаже товаров. Запрещается подача объявлений о реализации товаров, представляющих опасность для жизни и здоровья людей, а так же угрозу для экологии.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.8. Пользователь обязуется не подавать объявления о товарах запрещенных к распространению законодательством Украины.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.9. Объявления размещаются строго в соответствии с разделом, объявления не соответствующие тематике будут удалены.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.11. Пользователи вправе использовать возможности сайта исключительно в целях размещения информации о предлагаемых ими товарах, для продвижения своих товаров среди других Пользователей сайта. Запрещается использовать сайт в противоправных целях, как то (включая, но не ограничиваясь) в целях разжигания политической, религиозной, межнациональной розни.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.12. Запрещается использовать сайт в мошеннических целях, в целях обмана, введения в заблуждение, злоупотребления доверием, распространения недостоверных сведений, клеветы, в целях раскрытия коммерческой тайны, персональной информации лиц, в случае отсутствия письменного согласия данных лиц на распространение информации, а так же в целях распространения информации, составляющей тайну личной жизни, частной собственности, нарушающей авторские и смежные права.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.13. Запрещается использование сайта для построения и деятельности сетевых групп и пирамид, запрещается публикация &laquo;писем счастья&raquo;, спама, не соответствующей действительности информации о сборе пожертвований, о необходимости донорской крови и ее частей. Запрещается подача объявлений о возможностях заработка в интернет без конкретного наименования, контактных данных и адреса работодателя, запрещается реклама аморальных услуг, сайтов и серверов, содержащих информацию, которая может нанести вред несовершеннолетним.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.14. Пользователь не вправе рекламировать или иначе распространять на сайте информацию о конкурентах и предоставляемых ими услугах, не вправе размещать ссылки на доски объявлений, интернет-магазины, торговые площадки и на прочие сайты, аналогичные по своей сути сайту </span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;mso-ansi-language:
EN-US" lang="EN-US">vinyl</span><span style="font-size:10.5pt;font-family:Verdana;
color:#333333">.</span><span style="font-size:10.5pt;font-family:
Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">com</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">.</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">ua</span><span style="font-size:10.5pt;font-family:
Verdana;color:#333333">.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.15. Пользователь обязуется не применять вредоносных программ, спамовых атак, не пытаться препятствовать функционированию сайта, его ресурсов и возможностей, не мешать доступу других пользователей на сайт, не пытаться заполучить персональную информацию, пароли и электронные адреса, используемые другими пользователями для входа на сайт. Запрещается распространять через сайт вирусы, трояны или какие-либо другие технологии, могущие нанести вред сайту либо Пользователям. Пользователь не вправе предпринимать действий, которые могут привести к непропорционально большой нагрузке на сервер и ресурсы сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.16. Владелец сайта не несет ответственности за действия злоумышленников, вирусы, трояны, ошибки и т.п. действия и их последствия, как то несанкционированный доступ к данным Пользователя, которые могут быть организованны третьими лицами с использованием сайта в своих целях.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">4.17. Владелец сайта вправе на свое усмотрение, без предварительного уведомления запретить любому Пользователю доступ на сайт, удалить или блокировать учетную запись Пользователя как в конкретном разделе сайта, так во всем сайте полностью, удалить любое или все объявления и сообщения Пользователя. При этом Владелец сайта не несет ответственности ни перед Пользователем, ни перед иными лицами.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5. Порядок подачи объявления</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.1. Для размещения объявления необходимо выбрать на сайте раздел, рубрику к которому относится объявление, и заполнить соответствующую форму, где необходимо указывать информацию о товаре.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.2. Информация о товаре подразделяется на заголовок и основной текст. Заголовок должен давать представление о том, какой товар предлагаются в объявлении, основной текст должен содержать развернутую, полную и достоверную информацию о товаре либо услуге. В заголовке и основном тексте объявления запрещается указывать контактные данные, имя, фамилию и прочую персональную информацию о Пользователе.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.3. И текст, и заголовок объявления не должны изобиловать заглавными буквами, восклицательными и прочими небуквенными знаками, не должно содержать ругательных слов, вульгарных выражений.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.4. Объявление может содержать ссылки на фотографии, видеозаписи и т.п., относящиеся к объявлению, на фотографии либо записи должен быть только один конкретный товар, предлагаемый к продаже. Пользователь самостоятельно несет ответственность за содержащиеся в размещаемом им объявлении ссылки, не вправе указывать ссылки на ресурсы, которые содержат вредоносные элементы.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.5. Одно объявление должно содержать информацию только об одном конкретном товаре. Пользователь обязуется не размещать объявление исключительно рекламного или информационного характера, без предложения конкретного товара или услуги.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.6. Цена, указываемая в объявлении должна соответствовать реальной цене реализации товара, и должна быть указана за весь товар, включая все комплектующие и составляющие части товара.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.7. Запрещается размещать одно и то же объявление в разных разделах или рубриках сайта, размещать объявление в объявлениях географической области, региона, города, к которому не относится предлагаемый товар.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.8. Запрещается дублировать объявления, размещать одно и то же объявление с разных электронных адресов, в т.ч. и изменяя порядок слов, выражения и описания, если из объявления понятно, что речь идет об одном и том же товаре. Если Пользователь обнаружил в объявлении ошибку, следует удалить неверное объявление и только затем разместить повторное, исправленное сообщение. В то же время удаление объявления и размещение его повторно в целях обновления в списке, поднятия в рейтинге, недопустимо.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.9. Владелец сайта, администрация и модераторы вправе переносить объявления в соответствующую ему рубрику, проводить корректировку объявления с целью исправления ошибок, опечаток, пунктуации, вносить исправления, не влияющие на основное содержание объявления, а так же вправе без какого-либо предупреждения или оповещения удалять объявление, если оно размещено в несоответствующем разделе, дублируется, не соответствует настоящему пользовательскому соглашению либо законодательству. Обсуждение действий модераторов возможно только через электронную переписку с модератором.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.10. Так же Владелец сайта вправе проводить пре- или пост- модерацию, отказать в размещении объявления, в одностороннем порядке ограничивать количество объявлений одного Пользователя, завершить или продлить размещение объявления на сайте без объяснения причин. Владелец сайта вправе ограничивать доступ к контактной информации Пользователей.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">5.11. Пользователь вправе сообщать Владельцу сайта о нарушениях, обнаруженных в объявлениях, действиях или бездействиях других Пользователей, направляя сообщения на адрес: info@</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">vinyl</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">.</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333;
mso-ansi-language:EN-US" lang="EN-US">com</span><span style="font-size:10.5pt;font-family:
Verdana;color:#333333">.</span><span style="font-size:10.5pt;
font-family:Verdana;color:#333333;mso-ansi-language:EN-US" lang="EN-US">ua</span><span style="font-size:10.5pt;font-family:Verdana;color:#333333">, рассмотрев сообщение, и сочтя сообщение обоснованным, Владелец сайта может удалить объявление либо блокировать/удалить учетную запись Пользователя, чьи действия послужили основанием для сообщения.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6. Регистрация</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.1. Для получения доступа к использованию дополнительных возможностей сайта, Пользователь вправе пройти регистрацию, заполнив для этого соответствующую форму.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.2. При регистрации Пользователь должен указать свои настоящие данные, позволяющие идентифицировать пользователя, а так же электронный адрес, который должен быть реальным и доступ к которому должен иметь только Пользователь. На указанный пользователем электронный адрес приходит сообщение, содержащее ссылку, переход по которой завершает регистрацию.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.3. Пользователь не вправе передавать свой электронный адрес и пароль, указанный им при регистрации, другим лицам, Пользователь несет ответственность за действия, производимые на сайте с использованием его электронного адреса и пароля.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.4. В случае если Пользователю станет известно, либо у Пользователя появятся причины подозревать, что его электронный адрес и пароль стали доступны третьим лицам, Пользователь должен незамедлительно изменить данные для входа в систему сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.5. Пользователь не вправе использовать автоматические программы для прохождения регистрации и/или получения доступа к ресурсам и возможностям сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">6.6. Владелец сайта вправе по своему усмотрению затребовать с Пользователя подтверждение данных, указанных Пользователем при регистрации, запросить подтверждающие документы либо их заверенные копии. В случае отказа Пользователя от предоставления подтверждений, данные считаются недостоверными и Владелец сайта вправе отказать Пользователю в праве использования сайта либо его сервисов и возможностей.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;
font-family:Verdana;color:#333333">7. Обработка информации</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.1. Информация, указываемая Пользователем при подаче объявления, либо сообщения является общедоступной, за исключением информации, которую пользователь указывает в специальных графах при регистрации.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.2. При регистрации Пользователь предоставляет свои персональные данные и дает согласие Владельцу сайта на их обработку. Срок действия настоящего согласия &ndash; 5 лет с момента последнего использования Пользователем сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.3. Обработка предоставленных Пользователем персональных данных будет осуществляться путем смешанной обработки персональных данных (сбор, систематизация, накопление, хранение, уточнение (обновление, изменение использования, распространение), в том числе передача), обезличивание, блокирование, уничтожение персональных данных).</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.4. В порядке предусмотренным действующим законодательством Украины, согласие может быть отозвано Пользователем путем письменного обращения к Владельцу сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.5. На основании письменного обращения Пользователя с требованием о прекращении обработки его персональных данных Владелец сайта прекратит обработку таких персональных данных в течение 3 (трех) рабочих дней, о чем будет направлено письменное уведомление субъекту персональных данных в течение 10 (десяти) рабочих дней.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.6. Владелец сайта вправе связываться с Пользователем посредством направления сообщений на телефон, указанный пользователем, а так же электронный и фактический адрес.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">7.7. Владелец сайта вправе передавать сайт, вместе со всем его контентом, включая персональную информацию пользователя, либо отдельно информацию Пользователя, правопреемнику своих прав и обязанностей, в том числе в случае своей ликвидации или реорганизации, а так же по договорам гражданско-правового характера, оставляя на свое усмотрение возможность уведомления об этом Пользователя.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8. Финансовые условия и прочие правила работы сайта</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.1. Пройдя процедуру регистрации, Пользователь получает доступ к дополнительным возможностям сайта, в том числе к платным услугам.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.2. Перечень платных услуг и их стоимость указываются на сайте, в процессе подачи и корректировки объявления Пользователя. Оплата может производиться посредством определенного смс-сообщения, электронными деньгами платежных систем, банковским переводом и т.д., список способов оплаты и реквизиты доступны на сайте.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.3. Каждому зарегистрированному пользователю соответствует учетная запись в системе учета Владельца сайта. По этой учетной записи производится фиксация поступлений денежных средств от Пользователя, и списание денежных средств на оплату платных услуг.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.4. Пользователь, внесший денежные средства, но не использовавший их на платные услуги, вправе истребовать их обратно, одним из способов, указанным в соответствующем разделе сайта. В данном случае из средств, переводимых Пользователю, удерживаются суммы, соответствующие комиссиям платежных организаций.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.5. Владелец сайта может проводить специальные бонусные программы, начисляя Пользователям бонусные баллы, которые могут быть использованы Пользователем для оплаты платных услуг. Бонусные баллы не могут быть выданы Пользователю в виде денежных средств, или любым другим способом, кроме предоставления возможности оплатить ими платные услуги. Бонусные баллы учитываются отдельно от денежных средств, внесенных Пользователем.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.6. Пользователь обязуется не вводить других Пользователей и Владельца сайта в заблуждение посредством использования имен, схожих до степени смешения с именами других Пользователей, а так же не указывать в этих целях в своем имени слов &laquo;модератор&raquo;, &laquo;админ&raquo; и т.п.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.7. Владелец сайта, администрация и модераторы сайта будут прилагать все усилия для надлежащей работы сайта, в том числе при необходимости производить плановые или неплановые отключения одного либо всех разделов сайта, производить перезагрузки сервера, обновление программного обеспечения и т.п. действия. Владелец сайта не несет ответственности ни перед Пользователем, ни перед третьими лицами за данные действия и оставляет возможность уведомления о таких действиях на свое усмотрение.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.8. Так же Владелец сайта не несет ответственности за нарушение доступа на сайт, потерю информации, и иные события, вызванные техническими сбоями, действиями хостинг-провайдера, организаций, предоставляющих услуги связи, перебоями в работе оборудования и программного обеспечения, а так же форс-мажорными обстоятельствами.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.9. Владелец Сайта в одностороннем порядке устанавливает количество дней, на протяжении которых объявление пользователя будет доступно для ознакомления другим пользователям, устанавливает максимальный срок, на протяжении которых учетная запись Пользователя остается актуальной, после последнего посещения Пользователем сайта. Так же Владелец сайта устанавливает максимальный объем сообщения и объявления Пользователя, прикрепляемой к объявлению фотографии, пересылаемой внутри сайта информации и т.п.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.10. В случае, если на объявления пользователя происходит отклик других пользователей, техническими средствами Пользователь уведомляется об этом на электронный адрес, указанный им при подаче объявления. Кроме того Владелец сайта может производить рассылку информации, предназначенной для всех либо части пользователей сайта, посредством направления им информационной рассылки. Пользователь вправе отказаться от получения информационной рассылки посредством соответствующей функции сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">8.11. Пользователь вправе направлять Владельцу сайта замечания, предложения и жалобы, посредством использования специальной формы, доступной по <a href="https://vinyl.com.ua/contact/">этой ссылке</a>. Данные сообщения будут рассмотрены Владельцем сайта в течении 10 рабочих дней.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><strong><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9. Заключительные условия</span></strong></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.1. Во всем, что не предусмотрено настоящим пользовательским соглашением стороны будут руководствоваться законодательством Украины. В случаях, когда в данном соглашении имеются ссылки на законодательство, имеется в виду законодательство Украины. Все споры и претензии, вытекающие из настоящего пользовательского соглашения, будут рассматриваться в соответствии с условиями и порядком, предусмотренным законодательством Украины, по нормам законодательства Украины, в суде Украины.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.2. Пользователь, при использовании сайта, обязан исполнять не только законодательство Украины, но и законодательство страны своего местонахождения, в т.ч. не предлагать и не покупать товары, услуги, хоть и разрешенные в Украины, но запрещенные либо ограниченные в стране местонахождения Пользователя.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.3. Владелец сайта вправе в любое время в одностороннем порядке вносить изменения в настоящее соглашение, путем публикации нового текста пользовательского соглашения на сайте. При этом изменения вступают в силу с момента публикации Пользовательского соглашения в новой редакции, если отдельно не будет оговорено иное.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.4. Пользовательское соглашение вступает в силу с момента начала использования Пользователем сайта либо его возможностей, и действует без ограничения срока.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.5. Пользователь вправе в любое время удалить свою регистрацию на сайте и прекратить использование сайта. В случае, если Владелец сайта вносит в Пользовательское соглашение изменения, с которыми пользователь не согласен, Пользователь обязуется незамедлительно прекратить использование сайта.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.6. Любая ответственность Владельца сайта в любых случаях ограничивается суммой в 500 грн, и может быть возложена на Владельца сайта только в случае наличия в его действиях вины.</span></p>
<p style="margin-top:0cm;margin-right:0cm;margin-bottom:14.25pt;margin-left:
0cm;background:white;outline: none;font-variant-ligatures: normal;font-variant-caps: normal;
orphans: 2;text-align:start;widows: 2;-webkit-text-stroke-width: 0px;
text-decoration-style: initial;text-decoration-color: initial;word-spacing:
0px"><span style="font-size:10.5pt;font-family:Verdana;color:#333333">9.7. В случае, если какое-либо из условий настоящего пользовательского соглашения является недействительным либо станет недействительным в дальнейшем, это не влияет на действительность иных условий пользовательского соглашения.</span></p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>";}s:6:"mtitle";a:1:{s:2:"ru";s:41:"Условия использования";}s:9:"mkeywords";a:1:{s:2:"ru";s:0:"";}s:12:"mdescription";a:1:{s:2:"ru";s:0:"";}s:7:"noindex";i:1;}