.search-form-btn {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  &.l-header-btn {
    position: relative;
    width: auto;
    left: 0;
  }
  i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
  }
}

.collapse.in {
  display: block !important;
}

.search-desktop {
  @media(min-width: 992px) {
    display: block!important;
  }
}
