body {
  background-color: #E0E0E0 !important;
}

html {
   min-height: 100%;
  background-color: #E0E0E0 !important;
   -webkit-text-size-adjust: 100%; 

}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  select, textarea, 
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="tel"],
input[type="password"],
input[type="email"]
 {
    font-size: 16px !important;
  }
}

textarea,
input[type="text"],
input[type="button"],
input[type="email"],
input[type="tel"],
input[type="checkbox"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
     border-radius: 0;
}
.form-control{
border-radius: 0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #c1c1c1;
margin-top: 0;
margin-left: -25px !important;
cursor: pointer;
}

input[type="checkbox"]:checked {
    border-color: #007dd1;
  background: #007dd1;
}

label>input[type=checkbox]:checked:before {
   font-family: FontAwesome;
   content: "\f00c";
   color: #ffffff;
font-size: 16px;
}

input[type="checkbox"]:checked.j-reset{
    border-color: #5ba6d8;
background: #5ba6d8;
}

.alert-success {
    border-color: #3b5a0e;
}

.alert-danger, .alert-error {
    border-color: #a41b1b;
}


a,
.hidden-link {
  color: #065fba;
}

h2 {
    font-size: 1.5em;
}
/* autorization form  */

.around-page {
  min-height: 400px;
     display: flex;
margin: 20px 0 20px 0;
}

.super-login-page{
   width: 100%;
   max-width: 410px;
   margin: auto;
  border-radius: 6px;
  box-shadow: 0 0 9px 2px #cacaca; 
  border: 0px solid #E8E8E8; 
}

.super-login-page-title {
  padding-left: 15px;
  width: 50%;
  float: left;
}

.super-login-page-title.pass {
  padding-left: 15px;
  width: 100%;
  float: left;
}

.super-login-page-title h3{
 font-weight: bold;
 font-size: 24px;
 color: #4c505a;
}


.l-headerShort-heading{
display: none;
}

.blue-line{
  height: 5px;
  background-color: #a4cbed;
  border-radius: 6px 6px 0 0;
}

.blue-line-bottom{
  height: 5px;
  background-color: #a4cbed;
  border-radius: 0 0 6px 6px;
}

.btn.btn-sm.btn-social.btn-fb.j-u-login-social-btn{
    width: 100%; 
   padding: 0px;
margin: 0 0 10px 0;
 font-size: 16px;
font-weight: bold;
  height: 40px;
border-radius: 3px !important; 
line-height: 2.5;
}

.btn.btn-sm.btn-social.btn-fb.j-u-login-social-btn:before {
    content: "Войти через ";
}


.left-reg {
margin-left: 5px;
  float: left;
width: 48%;
}

.checkbox.reg{
  margin-top: 0;
}

.help-right{
  float: right;
  width: 50%;
  text-align: right; 
}

.need-help {
  float: right;
width: 50%;
   padding: 3px 15px 0 0;
margin-top: 20px;
   text-align: right; 
font-size: 16px;
font-weight: bold;
}


.insidepadding {
padding: 15px 30px 30px 30px;
}

.or-line{
 font-size: 16px;
 font-weight: bold;
 color: #828C93;
 text-align: center;
padding: 15px;
}

.or-line.nobold{
 font-size: 14px;
 font-weight: normal;
margin-top: 10px;
}

.agreement{
padding: 5px;
}

.googlerecap{
   margin: 0 auto;
    width: 304px;
}

.formaregi {
   margin: 15px 15px 15px 15px;
}

.form-control.reg{
  height: 38px;
border-radius: 3px;
}

.form-control.j-required.reg{
  height: 38px;
border-radius: 3px;
}

.form-group.agr{
margin:0;
}

.btn.btn-success.j-submit.big{
width: 100%;
  height: 40px;
border-radius: 3px !important; 
    font-size: 16px;
}

.borow {
margin-top: 15px;
}

/* end autorization form  */

.ad-descr h4{
margin: 0 0 5px 0;
font-size: 16px;
font-weight: bold;
}

.sr-vip-content > li > a {
  background-color: #fff7d9;
}
.sr-vip-content > li > a:hover {
  background-color: #fbefc2;
}

.sr-vip-content-img:hover{
-webkit-filter: saturate(130%);
filter: saturate(130%);
}

.sr-vip-content-title {
  font-weight: bold; 
}

span.vip-price{
  color: #2d3c4e;
  font-weight: bold; 
  font-size: 20px;
}

.l-header-logo {
    width: 175px; 
    height: 50px;
}

.l-header-logo img {
    width: 175px; 
    height: 50px;
}

.index-categories-m-item {
 font-size: 16px;
padding: 10px 15px 10px 15px;
}
.index-categories-m-item-img {
    padding-bottom: 4px;
}

.dropdown-menu.pull-right > li > a {
    color: #065fba;
    font-size: 14px;
}

a.j-cat-option {
    color: #065fba !important;;
    font-size: 14px;
}

.sr-listTop-btn.active {
    background-color: #828c93;
}

btn.btn-success.j-submit.reg {
    width: 100%; 
}


.l-header-nav > a {
    font-size: 15px;
}

.grey{
background-color: #ffffff;
}

.ad-descr{
background-color: #ffffff;
}

.ad-gallery-item {
    border: 0;
    display: table;
background-color: transparent;
    height: 112px;
}

.ad-gallery-item-img {
    height: auto;
}

.ad-gallery-item-in {
    color: #008eee;
}

.ad-gallery-item-in:hover {
    color: #0071bd;
}

.ad-gallery-item-rotate {
    top: -6px;
    right: auto;
    left: 3px;
}

.ad-gallery-item-del {
    top: -6px;
    right: 3px;
}

.j-v-bbs-item-price-suggest-link{
    width: 160px;
}

.bbs-item-suggest-price {
 margin: 0;
 margin-left: -140px;
 float: left;
 margin-top: 15px;
}




.coolbtn{
  background-color: #ffffff;

  border-radius: 4px 0 0 4px;
}

a.coolbtn.j-v-bbs-item-price-suggest-link{
border-bottom: 1px dotted #428bca;
margin: 0;
}

.ad-author-in.rel.bbs-item-suggest-price:after{
   font-family: FontAwesome;
   content: "\f0da";
   font-size: 22px;
   font-weight: bold;
   color: #065FBA;
    float: right;
    margin: -5px 5px;
}

.ad-author-in.rel.bbs-item-suggest-price{
    padding: 0;
}

.sr-list-item-img img{
   border: 1px solid #b6d3e6;
}

.sr-glItem-img img{
    width: 112px;
    height: 112px;

}

.sr-list-item-img {
padding-right: 28px;
}

.sr-categories {
    margin-top: 5px;
}

.owl-carousel .owl-item img {
    width: 200px;
}

.index-categories-item-img img {
    max-width: 40px;
    max-height: 40px;
}

.index-categories-item-title {
    padding-top: 9px;
}

.index-categories-item-img {
    width: 50px;
}

.l-pageSubheading {
 background-color: #E3E3E3;
padding: 7px 7px 7px 10px;

}

.nav-tabs > li > a {
  color: #065fba;
}
.l-header-btn-ico {
    font-size: 16px !important;
}

.btn-iconic {
    border: 1px solid #007dd1;
    background-color: #ffffff !important;
    color: #007dd1 !important;
}
.btn-iconic:hover {
    border: 1px solid #007dd1;
    background-color: #fffffff !important;
    color: #007dd1 !important;
}

.btn.active {
    -webkit-box-shadow: none; 
    box-shadow: none; 
}


.c-fav {
    border: 1px solid #007dd1;
    color: #007dd1 !important;
    background-color: #ffffff;
}

.c-fav:hover {
    border: 1px solid #007dd1;
    color: #007dd1 !important;
    background-color: #ffffff;
}

.c-fav.active {
    color: #ffffff !important;
     border: 0;
    border: 1px solid #f26824; 
}

.fa-star:before {
    content: "\f006";
}

.sr-gallery-item-fav {
    top: auto;
    right: 4px;
    bottom: 4px;
}
.ad-images-zoom {
    color: #007dd1;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid #007dd1;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.ad-images-zoom:hover {
    color: #007dd1;
    background-color: #ffffff;
    border: 1px solid #007dd1;
}

.l-content-box-in.coolform {
    background-color: #f6f9fb;
}

.j-img-slot {
    background-color: #eeeeee;
    border: 1px dashed #c5c5c5;
}

.l-content-box-heading-l {
    padding: 22.5px 140px 22.5px 15px;
}
.btn.c-fav.sr-gallery-item-fav{
    border-radius: 50%;
    border-color: #93bcd7;
}


.btn.c-fav.sr-gallery-item-fav.active{
    border-color: #f26824;
}

.btn.c-fav.sr-list-item-fav.j-i-fav{
    border-radius: 50%;
    border-color: #93bcd7;
}

.btn.c-fav.sr-list-item-fav.j-i-fav.active{
    border-color: #f26824;
}

.ad-author-contact-social {
    border-top: 1px dotted #93bcd7;
}

.ad-author-shop-location {
    border-top: 1px dotted #93bcd7;
}

.ad-gallery {
margin: 0;
}

.ad-gallery > li {
    width: 24%;
 margin-right: 1%;
 margin-bottom: 2%;
padding: 0px;
}

.ad-gallery-item_preview {
    background-color: #eeeeee;
    border: 1px solid #99c1d3 !important; 
}

.ad-gallery-first{
    background-color: #e0f0f7;
background-image: url(../img/main-photo.png);
  background-size: 140px 32px;
  background-position: top center; 
  background-repeat: no-repeat;
}

.ad-author-stats {
    border-top: 1px solid #d0d6d9 !important;;
}

.ad-author-in+.ad-author-in {
    border-top: 0px;
}

.bbs-item-suggest-price .v-popup {
    width: 345px !important;
    padding: 15px 5px !important;
}
.ad-author-shop-descr {
    color: #000000;
}
.breadcrumb {
    font-size: 15px;
}
.fa.fa-home {
    font-size: 16px;
}
.l-page__breadcrumb_shadow {
    border-top: 0;
}

.ad-author-shop-name {
  font-weight: bold;
  font-size: 18px;
}

.ad-author-user {
    padding: 15px;
  background-color: #deeffe;
}

.ad-author-shop {
background-color: #deeffe;
}

.ad-author-contact {
    color: #000000;
    background-color: #ffffff;
    font-size: 15px;
}

.ad-author-user-all {
    font-weight: bold;
    font-size: 15px;
}

.ad-author-user-name  {
    font-weight: bold;
    font-size: 16px;
}
.ad-author-user-avatar img {
  border: 1px solid #a8cfe5;
}
.l-seoText {
  border-top: 1px solid #E0E0E0;
  padding: 10px 0;
  }

.c-carousel {
  padding-top: 10px;
}

.sr-categories-col>li>a {
   color: #065fba;
   font-weight: bold; 
border: 1px solid #b6d3e6;
}

.index-categories-m-sub>li>a {
   color: #065fba;
}

.sh-list-item-logo {
  background-color: #f5f5f5;
    margin-bottom: 0px;
}

.sh-list-item {
    border: 1px solid #d0d6d9;
}

.sh-list-item.selected {
    border: 2px solid #f26824;
}

.l-seoText {
    padding: 10px;
}

.index-categories-item {
   margin: 10px 0 10px 0;
}

.l-content-box-in.owner{
   padding: 0 !important;
}

.l-headerShort {
    padding-top: 0px;
}

.l-content {
    padding: 0;
}

.l-content-box-in.contact{
  background-color: #f7f7f7;
}



.col-sm-3.control-label{
    padding-right: 0px  !important;
    width: 30%;
}
.col-md-6.col-sm-9 {
    width: 70%;
}

.l-filterAside-m {
    margin-bottom: 0;
}

.sr-listTop {
    margin-bottom: 0;
}

.l-pageHeading {
    margin-bottom: 5px;
    margin-top: 5px;
}

.sr-gallery-item-img {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
	position:relative;
	overflow: hidden;
}

.super-gallery-item-img {
   width: 100%;
   height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  position:absolute;
  left:0;
  top:0;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.super-puper-gallery-item-img {
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: flex;
align-items: center;
justify-content: center;
}

.noblur-img:hover{
-webkit-filter: saturate(130%); 
filter: saturate(130%);
  transform: scale(1.1);
}

.sr-gallery-item-img img{
    width: 200px;
    height: auto;

}

.sr-glItem-img>img {
    max-height: 200px;
}

.owl-item img {
    max-width: 200px;
}

.owl-item img img{
    width: 200px;
    height: auto;
}

.sr-gallery-item .sr-gallery-item-fav {
    display: block;
}

.sr-list-item .sr-list-item-fav {
    display: block;
}

.c-price {
  font-size: 22px;
  color: #2d3c4e;
}

.c-price-subik {
    height: 30px;
  padding: 0;
margin-bottom: 8px;
margin-top: -10px;
}

.pricik {
  padding: 0;
margin:0;
}

.c-price-sub {
    color: #545454;
}

.alert-warning {
    color: #000000;
    background: #f7f7f7;
    border: 0;
}

.col-md-4 {
    padding-right: 12px;
    padding-left: 12px;
}

.sr-glItem-subtext-i {
    font-weight: bold;
}

.fa {
    font-size: 14px;
}

.fa.fa-plus-circle {
    font-size: 28px;
background-image: url(../img/pull.png);
  background-position: center;
  background-repeat: no-repeat; 
}

.sr-gallery-item-img:before {
    content: none;
}

.sr-glItem-img_multiple:after {
    background-color: transparent;
    border: 0;
}

.l-pageHeading-title.filter {
  font-size: 16px;
  font-weight: bold; 
}

.l-pageHeading.filter {
  background-color: #e2f1fa;
  padding: 6px 5px 8px 5px;
  text-align: center;  
}
.l-filterAside-footer {
    border-top: 1px solid #e2f1fa;
}

.sr-glItem-img {
    padding: 0;
}

.sr-list-item-in {
    background-color: #f5fbff;
    border-radius: 6px;
    border: 1px solid #dbe9f6;
}
.sr-list-item:hover a.sr-list-item-in {
  border-color: #93bcd7;
}

.l-content-box-heading-title {
    font-weight: bold;
}
.ad-price {
   background-color: #264766;
font-size: 22px;
    padding: 3px 30px;
}

.ad-price:after {
    border-color: #1c2c40 transparent transparent transparent;
}

.ad-price-mod {
 margin-top: -3px;
}

.fa-search-img:before {
    content: "\f00e";
font-size:18px;
}

.l-content-box-in.grey {
    border: 0;
}

.ad-descr {
    padding: 15px;
    margin: -15px;
}

.l-headerShort-logo img {
  width: 87px;
}

ul.unstyled.span6 {
margin-bottom: 0px;
padding-left: 10px;
}


.unstyled.span6 li {
  list-style: none;
  margin: 0; 
}

label {
    font-weight: 500;
}

.control-label{
font-size: 16px;
}


.regions-delivery {
  margin-left: 30px;
}

.ad-author-shop-logo img {
  border: 1px solid #a8cfe5;
  border-radius: 6px;
}

.btn-success {
    background-color: #007dd1;
    border-color: #007dd1;
    font-weight: bold;
    border-radius: 6px !important;
}

.btn-success.btn-outline:focus,
.btn-success.btn-outline.focus,
.btn-success.btn-outline:hover,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active,
.btn-success.btn-outline:active:hover,
.btn-success.btn-outline.active:hover,
.btn-success.btn-outline:active:focus,
.btn-success.btn-outline.active:focus {
  background-color: #31b0d5;
  border-color: #31b0d5;
  color: white;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus {
  background-color: #31b0d5;
  border-color: #31b0d5;
}
.btn-success.btn-outline {
  color: #31b0d5;
  background-color: white;
}

.l-filter-form-submit:hover,
.l-filter-form-submit:active,
.l-filter-form-submit:focus {
  background-color: #31b0d5;
}

.responsivepage {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.l-header {
    left: auto !important;
   max-width: 1200px;
 margin: 0 auto;
}

.l-filter {
 padding: 5px 15px;
  background-color: #f7f7f7;
}

.l-filter-form-btn {
    border: 0;
    color: #065fba;

}
.index-title {
    text-align: center;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #E0E0E0;
}

.index-title h1{
   font-size: 18px;
   font-weight: bold;
}

.l-page__breadcrumb-wrap {
    margin-bottom: 0px;
}

.index-categories {
    margin: 0;
}

.l-footer{
  background-color: #FFFFFF;
}

.page-wrap {

  background-color: #FFFFFF;
}

.container_sm {
    max-width: 1100px;
}

.alert-popup {
left: auto;
   max-width: 1200px; 
}

.index-categories-item-title > a, .index-categories-item-title .hidden-link {
    color: #065fba;
    font-weight: bold; 
}

.breadcrumb > li > a {
    color: #065fba;
    font-weight: bold; 
}
.l-comments-leave {

}

.l-comments-leave-toggle.collapsed {
    color: #065fba;
    font-weight: bold;
}

.l-filterAside-element-heading.collapsed {
    color: #065fba;
}

.btn-default {
    color: #065fba;
border: 1px solid #b6d3e6;
}

.btn-info {
    color: #fff;
    background-color: #007DD1;
    border-color: #007DD1;
    font-weight: bold;
}

.l-filter-form-submit {
    background-color: #007DD1;
}

.l-header-btn-add {
    background-color: #f26824;
}

.l-header-btn {
    color: #ffffff;
}

.l-header-nav > a {
    color: #ffffff;
    font-weight: bold;
}

.l-filter-form-input {
    border: 1px solid #d0d6d9;
}

.sr-gallery-item {
    border: 1px solid #b6d3e6;
    background-color: #f5fbff;
}

.sr-gallery-item:hover {
  border-color: #93bcd7;
}

.sr-gallery-item-content {
    border-top: 0;
}

.sr-glItem-img_multiple:before {
    display: none;
}

.l-footer-menu > li a {
    color: #065fba;
}

.l-regions-list > li > a, .l-regions-list > li > .hidden-link {
    color: #065fba;
}

.sr-list-item-in {
    color: #065fba;
}

.col-sm-2 {
    width: 25%;
}

.sr-gallery-item.selected {
    background-color: #ffe8b6;
    border: 2px solid #f26824;
}

.label-urgent {
    color: #ffffff;
    font-weight: bold;
    background-color: #e45e1c;
}

.ab-top {
  display: table;
  width: 100%;
}

.ab-top-info {
  color: #828c93;
  font-size: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ab-top-info:after {
  display: block;
  content: '';
  clear: both;
}
.ab-top-info > li {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #d0d6d9;
}
.ab-top-info > li > i {
  margin-right: 2px;
  font-size: 14px;
}
.ab-top-info > li:last-child {
  border: 0;
}

.ab-top-left {
  display: table-cell;
  vertical-align: middle;
}

.ab-top-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.ab-top-func {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ab-top-func > li {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}

.ad-dynprops {
    margin: -10px -10px 0 0;
padding-bottom: 20px;
}

.ad-dynprops-item-in {
    margin: 5px 0;
    border: 1px solid #dbe9f6;
border-radius: 6px;
}

.ab-top-func-dropdown {
  left: auto;
  right: 0;
  width: 350px;
}

.ad-dynprops-item-attr{
   background-color: #dbe9f6;
color: #303030;
padding: 5px 0 5px 5px;
  font-weight: bold;
}


.ad-dynprops-item-val {
    font-size: 13px;
   padding: 5px;
   background-color: #ffffff;
  text-align: center; 
border-radius: 0 0 6px 6px;
}
.dropdown-menu {
    font-size: 16px;
}

@media only screen and (max-width: 991px){
.l-header-nav > a:before {
   font-family: FontAwesome;
   content: "\f105";
   padding-right: 8px;
   color: #bababa;
  font-weight: bold;

}

.l-header-nav > a.active:before {
   color: #ffffff;
}

.ad-gallery > li {
    width: 31%;
    margin-right: 2%;
}

.ad-dynprops-item {
    width: 50%;
}
.l-header-nav > a {
    font-size: 16px;
    padding: 15px 15px 15px 35px;
}

.l-page__breadcrumb_shadow {
    border-bottom: 0;
}
.index-categories-item-title {
    padding-top: 0px;
}

.sr-list-item-fav {
    bottom: 4px;
    top: auto;
    right: 4px;
    left: auto;
}
}



@media only screen and (max-width : 768px)  {

.l-filter {
  background-color: #ffffff;
}
.l-filter-form-search {
    display: table-cell;
}
.col-sm-2 {
    width: 90%;
}

.l-filter-form-search {
    margin-bottom: 0px;
}
.l-filter-form-item {
    display: table-cell;
    width: 1%;
    vertical-align: top;
}

.l-filter-form-region {
    display: none;
}

.l-filter-form-item.dropdown {
    display: none;
}

.l-page__breadcrumb_shadow {
    border-top: 0;
}

.index-categories-m {
    margin-top: 0;
    margin-bottom: 10px;
}

.index-categories-m-item-name {
    color: #065fba;
    font-weight: bold;
}

}

@media only screen and (max-width: 767px) {

.ad-author{
  border: 1px solid #93bcd7; 
}

.l-content-box-in.coolform {
padding: 15px;
}

.l-content-box-in {
    padding: 5px 15px;
}

.l-content-box-heading-l {
    padding: 10px 15px;
}

.ad-dynprops-item {
    width: 33.333333%;
}

.ad-author-in.rel.bbs-item-suggest-price {
    margin-top: 15px;
    margin-left: 15px;
}

/* #j-f-form{
display: none;
}
*/
.l-mainLayout-content.has-sidebar {
    float: left;
    width: 55%;
}

.l-mainLayout-sidebar {
    float: left;
    width: 45%;
}

.sr-list-item-img {
    display: table-cell;
    width: 140px;
    vertical-align: top;
    text-align: center;
    padding-right: 30px;
    white-space: nowrap;
}

.l-header-btn-ico {
    font-size: 20px !important;
}

.l-header-right .l-header-btn {
    color: #707070;
}
.l-header-right .l-header-btn {
    padding: 7px 15px;
}

.index-categories-item-title {
    padding-top: 9px;
}

.col-sm-3.control-label{
    width: 100%;
}
.col-md-6.col-sm-9 {
    width: 100%;
}

  .ab-top {
    display: block;
  }

  .ab-top-left {
    display: block;
    margin-bottom: 15px;
  }

  .ab-top-right {
    display: block;
    text-align: center;
  }

  .ab-top-func {
    position: relative;
  }
  .ab-top-func > li {
    position: static;
  }

  .ab-top-func-dropdown {
    width: 100%;
  }


.l-footer{
display: none;
}

.page-wrap-after {
  height: 50px !important;
}
  .ab-top-info {
    text-align: center;
  }
  .ab-top-info > li {
    display: inline-block;
    float: none;
    padding: 0 10px;
    margin: 0;
    border: 0;
  }
.ad-price {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
     width: 50%;
    margin: 0 auto;
}
.l-content-box-heading {
    border-bottom: 0;
}

.l-content-box {
    border: 0;
}

.l-page__breadcrumb_shadow {
    border-bottom: 1px solid #ededed;
}


.l-mainLayout-content.has-sidebar {
    float: none;
    width: auto;
}

.l-mainLayout-sidebar {
    float: none;
    width: auto;
}
}

@media only screen and (max-width: 600px){
.ad-price {
 margin-right: 15px;
}
}
@media only screen and (max-width: 580px){
.ad-dynprops-item {
    width: 50%;
}
}
@media only screen and (max-width: 550px){

.ad-gallery > li {
    width: 48%;
}

}

@media only screen and (max-width: 440px){
.insidepadding {
padding: 10px;
}

.super-login-page{
  border-radius: 0;
}

.blue-line{
  border-radius: 0;
}

.blue-line-bottom{
  border-radius: 0;
}
}

@media only screen and (max-width: 390px){
.ad-dynprops-item {
    width: 100%;
}
}

@media only screen and (max-width: 370px){

.sr-list-item-img {
    display: block;
    width: auto;
    margin-bottom: 15px;
    padding-right: 0;
}

.insidepadding {
padding: 0px 0px 10px 0px;
}

}
@media only screen and (max-width : 350px)  {

.super-login-page-title.pass h3 {
font-size: 20px;
}

.ad-author-in.rel.bbs-item-suggest-price{
    margin-left: 0;
}

.ad-author-in.rel.bbs-item-suggest-price:after{
 display: none;
}

.col-sm-3.control-label{
    width: 96%;
}
.col-md-6.col-sm-9 {
    width: 96%;
}

.col-sm-8 {
    padding-left: 10px;
    padding-right: 0px;
}

.breadcrumb {
    font-size: 14px;
}

.dropdown-menu-in {
    padding: 0px;
}

.l-content-box-heading-price{
  display: flex;
  flex-direction: column-reverse;
}

.ad-price {
 margin: 0 auto;
    width: 60%;
}


.bbs-item-suggest-price .v-popup {
  width: calc(100% - 6px) !important;
  padding: 10px 3px!important;
}


.dropdown-menu {
    border-radius: 0;

}

}


@media (min-width: 992px) {

.col-md-3 {
    width: 30%;
}
}